[2019-12-04 03:26] msfeldstein opened #484 "Discussion: SEP26 Non-interactive Anchor/Wallet Asset Transfer"
SEP26 was submitted as the non-interactive counterpoint to SEP24's interactive transfer protocol.  It uses some more forward thinking infrastructure, such as SEP27's Asset Information Server

Please discuss thoughts on this proposal here

https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0026.md

[2019-12-04 03:27] msfeldstein commented on #484
Additional discussion: https://github.com/stellar/stellar-protocol/pull/460

[2019-12-04 03:30] msfeldstein commented on #483
Personally I think this is a good change that takes a lot of the shared infrastructure between different SEPs and puts it all in one place, in a way that can support multiple protocols, including people who need to define assets without actually supporting any transfer protocol.

[2019-12-04 14:33] andywer commented on #443
Sorry for the long pause here, we have just been suuuuper busy.

Short recap:
- we should probably unify the interpretation of the `asset_code` on deposit and withdrawal (breaking change!)
- and/or split the asset field in two: the asset you wish to send and the one you expect to receive on the other side (use case: buy XLM for USD on coinbase.com via SEP-24, for instance)
- denoting assets not is

[2019-12-04 17:06] andywer opened #486 "SEP-24 Feature Request: Customized bank transfer memo on withdrawal"
### What problem does your feature solve?

Currently the anchor is completely in control of the memo that's set on the off-Stellar withdrawal transaction (like a bank transfer). This is fine if you are withdrawing your own funds to your own off-Stellar account.

Consider a service that helps withdrawing its clients' funds to some 3rd-party destinations, though. The anchor will set some memo on the

[2019-12-04 18:38] ire-and-curses commented on #481
The anchor could also have to comply with GDPR if they have European users.

[2019-12-04 22:15] tomerweller commented on #443
I think we should converge on using Stellar asset codes and their SEP11 representation.

Splitting the asset code to the stellar side and the "real world" side can put us in a world of pain. There are many on-ramps that support multiple currencies or different currency limits in different regions (the big exchanges are like that) and we don't really want to go there. A user should care about coinb

[2019-12-05 00:59] s-a-y commented on #484
1. I still don't understand why /deposit endpoint doesn't require an amount. But at the same time, there is a "fee" field in response (calculated fee). How can you calculate it without the amount?
We could do it the same way as for withdrawal.
2. Maybe responses for /deposit and /withdraw should have `id` field analogous to sep24. Just to make it easier for wallets to handle it in the same way (ke

[2019-12-05 01:08] msfeldstein opened #488 "Clarify the flow of statuses in sep24"
The list of statuses in sep24 is a bit confusing.  We should clearly explain the flow (state machine?) of statuses, and also provide examples of when to use each status.

https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#fields-for-withdraw-transactions

[2019-12-05 20:01] dmgmyza opened #491 "SEP-0007 links opening issues in various operating systems and browsers"
1. Desktop application can register itself as a sep-7 handler on a system level (Depending on the operating system).
In this case, user doesn't have even option to choose any other sep-7 wallets on their desktop.
This is because sep-7 system handlers are executed before browser handlers.

Chrome and Safari as an example. These browsers (on Mac OS) open the last used desktop app that supports web+s

[2019-12-06 02:00] s-a-y commented on #484
Regarding 1. Fritz explained to me in private, that you can request amount using optional form field using sep27. The fee is optional in response, therefore most likely won't be present unless anchor can actually calculate the specific amount.

[2019-12-06 11:36] pitsevich commented on #491
To summarize, the users sometimes have limited control over which app is opened upon clicking on web+stellar link.

1. This is quite problematic for iOS devices.
2. On desktop, when application registers itself to handle web+stellar links at system level, it may overwrite the previous handler app. Changing the handler back often will be difficult by the user, because the OS does not provide easy w

[2019-12-07 00:57] tomerweller commented on #491
This is concerning. Especially iOS and desktop Chrome.
@MisterTicot, @nikhilsaraf, thoughts?

[2019-12-07 08:37] MisterTicot commented on #491
You have two ways of linking txs: custom URI scheme (like sep7) or universal links (like Cosmic.link).

The drawback of universal links is that you have to target a specific service, which means you need a relay between apps and wallets when app is not aware of which wallet to contact.

This can be mitigated by giving that information to the apps, shortcutting the need for a relay. Alternatively,

[2019-12-10 18:20] msfeldstein opened #493 "SEP24: No security around callback POSTs."
Sep24 offers a way for anchors to call back to a wallet with updated transaction state and details.  This is useful for communicating the state of the interactive flow, which the wallet has no insight into.  This endpoint needs some type of security to ensure that the callbacks being POSTed to a wallets servers are indeed the anchor, otherwise a malicious actor can simply call back to the wallet a

[2019-12-10 18:21] msfeldstein commented on #493
When we re-think this it may make sense to expand it to a webhook style callback allowing for continued updates, rather than simply for signalling the end of interactive flow.  This would allow wallets to enable push notifications for transaction state changes

[2019-12-10 18:25] leighmcculloch commented on #493
In similar systems the existing design of the callback would survive. The backend would be able to verify the contents of the callback by calling the transactions endpoint and verifying the state of the transaction or retrieving the event, and confirming it is legit before taking any meaningful actions.

In our case this is not possible because the wallet server has no credentials to speak to the

[2019-12-11 00:48] msfeldstein commented on #475
Yeah iframes/webviews are mentioned because we assumed that's the UX almost all wallets would want.

[2019-12-11 00:50] msfeldstein commented on #475
@yuriescl we were able to get django sessions working with the samesite flag, but there is a django but we had to work around to make it happen.
Here is a django PR that should make this all a moot point: https://github.com/django/django/pull/11894
Here is our PR to make it work in polaris: https://github.com/stellar/django-polaris/pull/43

Can you clarify what specifically is being blocked in reg

[2019-12-11 12:46] yuriescl commented on #475
@msfeldstein Thanks. I was able to get the form to be displayed by applying the Polaris Middleware to my Django app. But the CSRF problem is still there and it happens when using the Connector Demo iframe, I imagine it's because the Connector Demo is not using HTTPS so Django is not accepting the CSRF token (session works though). Do I need to apply that Django patch to work around this HTTPS prob

[2019-12-12 00:05] msfeldstein commented on #475
Does it work if you use https on the Connector Demo?

[2019-12-12 00:19] yuriescl commented on #475
@msfeldstein No, using HTTPS does not fix the issue. The CSRF token is sent in the POST data but the web server still returns the same error:

[code]

[2019-12-12 00:29] msfeldstein commented on #475
What browser are you using?
I get a warning in chrome, but it still works.  It sounds like it will be disabled soon and is probably what you're running into.  I can try to fix the warning and we'll see if it fixes it for you.
[code]

[2019-12-12 00:41] yuriescl commented on #475
@msfeldstein I'm using Firefox in a Private Window with Tracking Protection disabled and I don't see any warning in the console.

[2019-12-12 21:24] sisuresh opened #495 "Remove pre-authorization signer even if signature verification fails"
## Issue
If signature verification for a pre-auth transaction fails, the pre-auth signer needs to be manually removed using the Set Options operation. If the sequence number for the failed transaction has been consumed, the pre-auth signer can never be used again, so there's no reason to keep it around.

## Proposal
If the transaction signature is invalid, clean up the pre-auth signers right after

[2019-12-12 22:35] jonjove opened #497 "Remove NO_ISSUER Operation Results"
The following operation results indicate that an operation failed because the issuer of an asset does not exist: `PAYMENT_NO_ISSUER`, `PATH_PAYMENT_STRICT_RECEIVE_NO_ISSUER`, `PATH_PAYMENT_STRICT_SEND_NO_ISSUER`, `MANAGE_SELL_OFFER_SELL_NO_ISSUER`, `MANAGE_SELL_OFFER_BUY_NO_ISSUER`, `MANAGE_BUY_OFFER_SELL_NO_ISSUER`, `MANAGE_BUY_OFFER_BUY_NO_ISSUER`, and `CHANGE_TRUST_NO_ISSUER`. Each of the opera

[2019-12-12 23:07] MonsieurNicolas commented on #497
I would support this change.

Maybe one thing that would be left related to this is deciding on what to do with trust lines that are not authorized, have a balance and the issuer doesn't exist.

Reason it should be fixed at the same time is that it doesn't seem to make sense that creating a new account with a new key would have more rights than an existing one that was frozen in the past.

We can:

[2019-12-13 15:31] jonjove commented on #497
@MonsieurNicolas I'm not sure if I agree with you about changing the behavior of

Under the current protocol, if the issuer account were toggled from `AUTH_REQUIRED` to not `AUTH_REQUIRED` after revoking authorization from some accounts then those accounts would remain unauthorized while new accounts would be fully authorized. Because toggling an issuer account from `AUTH_REQUIRED` to not `AUTH_RE

[2019-12-13 18:33] MonsieurNicolas commented on #497
Reason I'd like to fix it is that it seems it's the last big bug related to issuers: it's a violation of one design principle where an account cannot "wedge" a different account. In this case, an issuer deleting the issuing account breaks any account that is not authorized as those trust lines cannot be deleted.

Yeah I agree that option 2 is not desirable, I listed it for completeness as it's the

[2019-12-14 06:17] pselden commented on #461
Just did an initial release of the JS/TypeScript lib: https://github.com/stellarguard/txrep -- demo here: https://stellarguard.github.io/txrep/demo/

[2019-12-17 00:47] yuriescl commented on #475
@msfeldstein Do you think it's a good idea to disable CSRF protection for the iframe forms? At least until we figure out a better solution.

[2019-12-19 18:29] theaeolianmachine commented on #315
Closing this out to clean up my created issues across Github open source repos that are no longer relevant to me. If this is still an issue, please make a new issue to represent it.

[2019-12-19 18:29] #315 closed

[2019-12-19 18:29] theaeolianmachine commented on #318
Closing this out to clean up my created issues across Github open source repos that are no longer relevant to me. If this is still an issue, please make a new issue to represent it.

[2019-12-19 18:29] #318 closed

[2019-12-19 18:30] theaeolianmachine commented on #331
Closing this out to clean up my created issues across Github open source repos that are no longer relevant to me. If this is still an issue, please make a new issue to represent it.

[2019-12-19 18:30] #331 closed

[2019-12-19 21:06] leighmcculloch commented on #331
For anyone who was following this issue I'm continuing this effort, at least as it pertains to accounts with single-signer-not-master-key or multi-sig, over at #489.

[2019-12-20 03:10] msfeldstein commented on #475
Yes i think that makes sense.  I've got a new task out to support popups instead of iframes in the demo client.  This won't be an issue on mobile apps, and we can revise the guidance for web wallets to use OAuth style popups.  This should already be supported by the SEP, we just haven't exercised it so this task should help verify it
https://github.com/stellar/sep24-demo-client/issues/147

[2019-12-20 13:37] MisterTicot commented on #491
(updated my previous comment so the proposed solution displays on GitHub website)

[2019-12-23 18:32] tomerweller commented on #491
Thanks @MisterTicot. Sorry for the delayed response.

I'm looking at information from cosmic.link and specifically at:

What stops a malicious cosmic.link from mutating a user's transaction to drain their account?

[2019-12-23 19:03] MisterTicot commented on #491
Good question: nothing but it's not an issue.

I've worked on that case but chose not to mention it on the public page
because I did not know how to put it in a way that is easy to understand.
It's pleasant to see that you spotted that very point.

I designed CosmicLink as an imitation of hardware wallets flow. In other
words, the goal is to use software wallets the same way we use hw wallet
today

[2019-12-23 19:36] tomerweller commented on #491
Good points. However, I disagree with the claim that that's not an issue.

DNS hijacking is not uncommon in our world (myetherwallet, blackwallet, etc) so that attack vector shouldn't be ignored. The comparison to a hardware wallet is problematic as they are not susceptible to these types of attacks.

[2019-12-23 19:55] MisterTicot commented on #491
Let me clarify this point: I never said to ignore the issue, and I just
made proposals about how to mitigate it.

What I'm saying is that you can run the exact same attack for free by
crafting malicious transaction requests - so why would you bother with a
DNS attack, which would require crafting a valid Cosmic.link certificate as
well as I have HSTS enabled?

(Unfortunately, MyEtherWallet did not

[2020-01-09 20:06] MonsieurNicolas commented on #303
@jonjove here are some comments based on the latest CAP0023 draft

## ClaimPredicate
 * Which predicate do we actually need for the first version? It seems we have too many for a v1.
 * Should the time condition (both absolute and relative) be replaced by pairs like for `Transaction` (allows to do the same by setting low bound to 0 or high bound to max, but also match a specific interval)? NB: not

[2020-01-15 00:34] tomerweller opened #514 "stellar.toml: support multiple versions"
The current [stellar.toml spec](https://github.com/stellar/stellar-protocol/pull/512) makes it difficult to introduce breaking changes.

I propose allowing anchors to expose multiple versions of their `stellar.toml` file using a simple version based pattern for the url path: `/.well-known/stellar.v{major_version}.toml`.

Examples: `/.well-known/stellar.v1.toml`, `/.well-known/stellar.v2.toml`, etc

[2020-01-15 19:09] leighmcculloch commented on #514
I don't think we should introduce multiple files, and instead we should embrace additive changes to the existing TOML file format.

Multiple files for different versions doesn't make the effort of reducing breaking changes any less easier. It spreads those difficult changes across multiple files. While this might make the definition of what is in the file a little bit clearer, or the file look a l

[2020-01-15 19:15] tomerweller commented on #514
@leighmcculloch, thanks. Closing because you're right.

[2020-01-15 19:15] #514 closed

[2020-01-15 19:20] tomerweller commented on #514
This does make me feel like we've handling `stellar.toml` changes wrong. We should have marked fields as deprecated and keep them around, rather than get rid of them.

[2020-01-15 19:20] tomerweller commented on #514
cc @rice2000

[2020-01-15 19:24] leighmcculloch commented on #514
I think the approach we take depends on the situation.

If we have some certainty that few people are using a field I think we can make a calculated decision to remove a field.

But most of the time we should attempt to keep a field valid as in the example above where we end up with `TRANSFER_SERVER` and `TRANSFER_SERVER_v2` rather than adding `TRANSFER_SERVER_v1` as well.

If we absolutely need t

[2020-01-22 01:19] msfeldstein commented on #488
[Status Diagrams.pdf](https://github.com/stellar/stellar-protocol/files/4094781/Status.Diagrams.pdf)

[2020-01-22 01:20] msfeldstein commented on #488
![State Diagram](https://user-images.githubusercontent.com/161135/72857372-4a608800-3c72-11ea-98ee-d8cffc8095b7.png)

[2020-01-22 19:10] leighmcculloch commented on #488
That diagram helped a lot. What did you use to create it? Is there anyway we can codify the diagram into the stellar-protocol repo so that the source and rendered image are stored here and easily editable?

[2020-01-22 21:54] msfeldstein commented on #488
It's just in figma, but i want to look at something like mermaid to see if that can do what you're asking now that i have the basic structure.

[2020-01-23 18:43] #488 closed

[2020-01-23 21:57] jonjove commented on #303
## ClaimPredicate
- I proposed these predicates because they are simple and cover a variety of use cases. I am happy to do fewer, but it’s really only three kinds of predicates: unconditional, absolute time, and relative time.
- I am indifferent between inequality constraints and pairs. Regardless, I think we should switch to a boolean expression tree which avoids this issue entirely (see below).

[2020-01-24 20:40] jonjove commented on #497
@sisuresh Some comments on the proposal.

This is wrong (and doesn’t match your implementation). This proposal requires no XDR changes.

This is wrong (and doesn’t match your implementation). These results must still be returned prior to protocol version 13.

This is wrong, and also wrong in my original comment https://github.com/stellar/stellar-protocol/issues/497#issue-537250280. Sorry about tha

[2020-01-27 18:15] vitchor opened #518 "SEP-26: confusion in how to integrate with SEP10 JWT"
SEP26 does not explicitly state how to handle SEP10 JWT. Should we assume it will use Authorization HTTP header?

[2020-01-27 18:17] vitchor opened #519 "SEP-26: inconsistency between BTC and FIATUSD examples"
The BTC example [here](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0026.md#btc-example) is not consistent with the other examples [here](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0026.md#fiatusd-example)

The BTC example refers to withdrawals.fields and the FIATUSD example refers to withdrawals.options

[2020-01-28 18:37] yuriescl opened #520 "SEP-24: Which endpoints require SEP-10 auth?"
Currently SEP-24 states the following about using SEP-10 authentication:

Just want to clarify if all SEP-24 endpoints must require a SEP-10 authentication token, or there are exceptions (ex: `/info`). I don't see why it would be needed in `/info` since it provides public information, like `stellar.toml` does.

[2020-01-28 19:15] istrau2 opened #521 "SEP-26 backward compatibility"
This is a similar issue with SEP-24. Can we make the SEP-26 endpoints new and not use the same ones as SEP-6. For example, can we user `transactions/withdraw/noninteractive` and `transactions/deposit/noninteractive`

[2020-01-28 19:25] JakeUrban commented on #520
As an anchor, you're free to make an exception for `/info`, but wallets should assume all endpoints need the token.

[2020-01-28 19:38] msfeldstein commented on #520
https://github.com/stellar/stellar-protocol/pull/522

After discussing more it seems important to keep /info unauthenticated so other non-wallet applications can access that public information.

[2020-01-28 19:39] #520 closed

[2020-01-29 18:22] jonjove commented on #303
Thanks for providing more feedback!

### CreateClaimableBalanceOp
- I hadn’t considered the possibility that one might want to pre-authorize without sending tokens. Interesting point, I don’t see any reason we shouldn’t allow that. Changed to explicit statement `amount < 0`.
- Changed to explicitly require `AUTHORIZED_FLAG`

### Condition on `destination`
- I had considered making it a union but s

[2020-02-03 21:34] MonsieurNicolas commented on #303
I wrote some thoughts related to extending the proposal for utxo support (I think also replace deterministic accounts, a question I was asking earlier). See https://gist.github.com/MonsieurNicolas/25e6bd235151a197be84a0712555082e @jonjove

[2020-02-04 12:42] yuriescl opened #527 "SEP24: withdraw amount in interactive URL"
In SEP24 section [Basic Anchor Implementation](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#basic-anchor-implementation) item **Interactive withdrawal**, one of the bullet items states:

_If an amount parameter is provided to the interactive URL, make sure to use that value to pre-populate the amount on the interactive form, since this greatly improves the user exp

[2020-02-04 17:41] JakeUrban commented on #527
Based on how the SEP is written, it should be passed to the interactive URL just like the optional `callback` argument.

The `POST /interactive` endpoints for both deposit and withdrawal are responsible for creating an `incomplete` transaction, and it's the interactive flow's responsibility to collect the KYC, amount, and bank/wallet account information.

I don't think this is a bug, but we could

[2020-02-06 19:07] msfeldstein commented on #527
I think this line might be vestigial.  I wonder if we should remove it and encourage people to use the existing method of passing parameters to start a transaction, ie a `POST /transaction/withdraw/interactive` call parameter.  If so, we should still document it properly

[2020-02-06 19:11] JakeUrban commented on #527
There is no `amount` parameter listed for either `POST .../deposit` or `POST .../withdraw`, so this would be the only way to communicate the amount before rendering the form.

[2020-02-08 00:17] dolcalmi commented on #484
please reference SEP26 in SEP006.... and next time it would be nice not to deprecate before finalizing the specification

[2020-02-15 12:04] yuriescl opened #535 "SEP24: deposit success response"
In [SEP24 Deposit Response](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#response) it's not clear what the response format should be in case there's no additional information needed from the user.
It currently states:
_There are several possible kinds of response, depending on whether the anchor needs more information about the user, how it should be sent to the an

[2020-02-18 15:28] yuriescl opened #537 "SEP24: status code for SEP10 JWT"
As described in https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#5-authentication-required, the Anchor must respond with a 403 Forbidden response if the SEP10 JWT is missing from the request.
I suggest changing that section to allow two possible responses:
1) 401 Unauthenticated: Missing or invalid JWT token in the request
Status would be `401` since we don't know the

[2020-02-18 15:28] yuriescl commented on #537
Created this issue as a Bug but I'm not sure if it's the proper label. It's just a suggestion.

[2020-02-18 18:31] stanford-scs commented on #324
Agree that this is tricky.  I believe the two mechanisms you propose still leave some corner cases.  For example, the merge asset operation could exceed the trustline or could exceed 2^{63}, or authorization could be revoked by an asset issuer.  I think you need two transactions to close a channel (in case one fails because a party does something weird like delete their account or trustline), and

[2020-02-18 18:45] leighmcculloch commented on #537
Returning a 403 if the JWT matches an account might leak information to someone who has managed to get ahold of an old JWT. It would allow someone who has an old JWT to check if an account still exists.

I think it's safer to treat an expired token like an invalid token. A service should expose no information to an unauthenticated user.

If we're being pure about it I would argue that the status c

[2020-02-18 23:55] JakeUrban opened #539 "SEP-24: Remove 'Success: no additional information needed' section"
TL;DR: We should remove the `/interactive` [success](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#1-success-no-additional-information-needed) response since we now have SEP-26 for non-interactive flows and we changed the `/interactive` endpoints from `GET` to `POST`.

Originally SEP-24's `/interactive` endpoints used to be `GET` requests, and had two different type

[2020-02-19 19:14] yuriescl commented on #537
Indeed, it is more secure to have a single error. Thanks for the response.

[2020-02-19 19:14] #537 closed

[2020-02-20 11:18] TorstenStueber commented on #324
You mentioned a third alternative that would also work and is currently the only practical solution to that problem (it's also the only "workaround" we found). However, it has big legal implications if neither party is allowed to get complete control over the escrow account – they might require certain licenses first.

Therefore it is very critical for legal reasons to extend the protocol in the s

[2020-02-20 11:26] erasmus commented on #324
There may be corner cases, but there is also the happy path, where it is indeed possible to do a "full" merge. Does it not make sense to accommodate this scenario?

[2020-02-23 01:13] MonsieurNicolas commented on #324
@TorstenStueber did you look at leveraging [CAP-0023](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0023.md) that we're trying to finalize in the next couple months? It allows to decouple transfers from accounts and seems to have strong desirable properties for smart contracts in general (and we think for payment channels too). If it doesn't work in your particular scenario, we'

[2020-02-25 09:25] erasmus commented on #324
@MonsieurNicolas I'm not sure CAP-0023 will solve our problem, but perhaps I'm missing something here. The issue is not the receiving account, the problem is guaranteeing that the escrow account is fully merged.

Example:

1. In order to avoid gaining control of our customer's funds (control of customer funds would impose additional legal/compliance requirements on us), we put customer funds on an

[2020-02-28 18:36] leighmcculloch opened #557 "SEP-0010/0030: Evaluate usage of url-encoded form / json content types"
In [SEP-10] we support request bodies to be in JSON or url-encoded form content types. There's an overhead for every implementer of a SEP to implement two request parsing models. In some programming languages this is really easy, in others it may not be so.

We shouldn't remove the use of a content-type from an existing SEP, but we should evaluate if this is a pattern we should apply to future SEP

[2020-02-28 19:32] leighmcculloch commented on #557
👋 @stellar/integration Do you folks have any insight into whether people prefer to use url-encoded form or JSON for request bodies when implementing SEPs?

I notice that [SEP-24] actually supports only `multipart/form-data`. Is there a reason it uses multipart and not `application/x-www-form-urlencoded`?

[SEP-24]: https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md

[2020-02-28 19:40] JakeUrban commented on #557
The SEP should be updated, Polaris uses `application/x-www-form-urlencoded`.

I don't have any insight for anchors' encoding preference, but I agree with the comments made in [#150](https://github.com/stellar/stellar-protocol/pull/150). I would assume JSON is more popular but at the same time I'd be surprised if implementing the parsing logic for 2 encodings was non-trivial for any mainstream lang

[2020-02-28 19:54] JakeUrban opened #558 "SEP-24: Support application/x-www-form-urlencoded and application/json, not multipart/form-data"
In the SEP's [deposit](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#deposit) and [withdrawal](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#withdraw) sections, `multipart/form-data` is mentioned as the proper encoding.

I'm not sure why this was the encoding chosen since this encoding is most often used for file uploads, whereas `app

[2020-03-02 17:11] TorstenStueber commented on #324
@MonsieurNicolas I agree with what @erasmus said. CAP-0023 does not solve our problem. CAP-0023 would be helpful in a case where the target account that the escrow is to be merged into might not have the proper trust lines (yet).

But this is not our problem: the target account of the merge operation does have the required trust lines. See @erasmus explanation for some more details.

[2020-03-02 18:36] leighmcculloch opened #562 "SEP-0010: Add requirement that operation account IDs be KEY_TYPE_ED25519 (CAP-27)"
[CAP-27](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0027.md) is replacing `AccountID` with `MuxedAccount` which will contain either the existing `KEY_TYPE_ED25519` or a new type of account ID `KEY_TYPE_MUXED_ED25519`.

When this is implemented in SDKs calling `.Address()` on a muxed account will still return the same value as if the account was not muxed, and as such a [SEP-1

[2020-03-02 18:42] MonsieurNicolas commented on #303
Here is another round of feedback.

# XDR
`ClaimClaimableBalanceOp` is using the hardcoded `Hash` type, should it instead use `ClaimableBalanceID` type? (if we decide to split those types later, we can, but it seems to be the safest thing to do for now)

Should `CreateClaimableBalanceResult` return the ID of the claimable balance that was created? Even though IDs can be derived from the transactio

[2020-03-02 19:02] MonsieurNicolas commented on #324
I was not saying that CAP0023 will make merging accounts easier, but that it should make writing payment channels easier.

In the context of payment channels, as transactions can fail, you really don't want to have any of the pre-signed transactions fail (a "merge asset" operation can fail) as the failure modes get very tricky to handle as the number of participants or assets increases.

CAP0023 a

[2020-03-02 21:17] leighmcculloch commented on #557
I'm going to close this and continue with supporting both in SEP-30. This went the opposite way than I expected with SEP-24 getting expanded to support it in #558 😄. Great outcome! Thanks Jake!

[2020-03-02 21:17] #557 closed

[2020-03-02 21:17] leighmcculloch commented on #557
FYI @accordeiro

[2020-03-05 16:31] jonjove commented on #303
@MonsieurNicolas Let’s discuss how we think prepared trust lines (or whatever we decide to call them) should work.

## Prepared trust lines in this proposal
In this proposal, I was working with the following definition of a prepared trust line: A prepared trust line is a ledger entry with the following properties
(1) It is not a sub-entry of any account
(2) It can be created by any account for any

[2020-03-10 11:33] TorstenStueber commented on #324
I understand and that makes sense. But wouldn't that still require the kind of operations I am asking for in my initial post? So maybe CAP0023 would be an additional improvement but we still need some way to merge assets. Or am I missing something?

[2020-03-12 22:15] MonsieurNicolas commented on #324
yeah merging assets becomes interactive and doesn't need to be done from within the smart contract @TorstenStueber so the existing operations should be enough

[2020-03-12 23:20] tomquisel commented on #303
To sum up our conversation today, our take is that:

1. Gateways who are not issuers are an important use case for CAP-23.
1. We also care about individuals being able to fund trustlines for other individuals. This comes up any time a wallet user or payment app or airdrop wants to send an asset to a user with too little XLM to get their own trustline.

[2020-03-17 02:28] leighmcculloch opened #573 "SEP-0030: External authentication is not sufficiently specified"
### Problem
[SEP-30 v0.2.0] references the phone and email authentication vaguely and without any specifics.
https://github.com/stellar/stellar-protocol/blob/63dde446500f9b156306505c5eddb4b013764558/ecosystem/sep-0030.md#L136-L137

In the SEP it is referred to as the `External` authentication provider, but beyond issuing some authentication token it doesn't specify the details. The lack of specifi

[2020-03-17 02:28] leighmcculloch commented on #573
TODO:
- [ ] Look at existing standards to utilize like OpenID, Oauth 2

[2020-03-17 17:58] andywer commented on #484
Hey there!

At SatoshiPay we would like to help move SEP-26 forward. Currently we need to stick to the anchors' SEP-6 implementations for our new B2B platform as anchors don't seem to implement SEP-26 yet and we need a non-interactive flow.

**I have got one question up-front, though:**

Why has the description of custom fields been moved from the `/info` endpoint to the asset info one? I would li

[2020-03-26 17:53] abuiles opened #575 "SEP0029: SDK Support [META]"
Stellar Protocol 13 is coming soon, and we need your help bringing support for it to your SDK.

The most relevant changes for SDKs are:

- [CAP-0015 - Fee-Bump Transactions.](https://github.com/stellar/stellar-core/pull/2419) This is the big one. The new operation requires a fundamental change to txenvelopes and means there are now two kinds of transactions, not one.
- [CAP-0027 - First-class mult

[2020-03-30 12:14] andywer commented on #484
Hi @msfeldstein! I would like to propose some updates to the spec as a PR. Those are the first low-hanging fruits from my point of view:

* Change the routes to `/transactions/{deposit,withdraw}/non-interactive`, similar to SEP-24, as they are not backwards-compatible to the SEP-6 endpoints
* The SEP-27 examples make the spec hard to digest – would put them in collapsible `<details>` elements to m

[2020-04-06 11:53] yuriescl opened #587 "SEP-12 deprecation and SEP6/SEP24 extra info"
If Anchors want to allow Wallets to pass user information non-interactively, they'd probably want to use SEP-12, but SEP-12 is deprecated in favor of interactive web pages.

What's the reason behind SEP-12 deprecation, and how to proceed if the Anchor still wants to collect user information non-interactively from the Wallets (for both SEP6 and SEP24)?

Also, if the Anchor wants to allow extra fiel

[2020-04-09 00:06] leighmcculloch opened #591 "SEP-0030: Define the error responses specifically?"
### What
Define the error responses specifically.

### Why
The error responses are rather vague. They are defined as a JSON structure with a single `error` field and an implementer can choose to include whatever message they feel like is appropriate. For a client integrating and responding to errors this is unlikely to be an issue because the HTTP status codes alone probably provide enough informa

[2020-04-09 17:15] #587 closed

[2020-04-11 12:03] yuriescl opened #593 "SEP-6 / SEP-24: Add support for extra values"
There's currently no mention of extra values to be passed to deposit and withdraw endpoints in SEP-6 and SEP-24.
For example, if the Wallet wants to pass some additional fields (ex: `payment_method`, `beneficiary_first_name`, etc) to `/withdraw` (SEP-6) or `/transactions/deposit/withdraw` (SEP-24), there's no standard way of doing it.
It might be a good idea to add a field like `extras`, or put a

[2020-04-11 12:07] marcinx commented on #593
Hey @yuriescl !

I think you can do that by specifying your additional parameters in the fields attribute of the /info endpoint on your transfer server: https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#info (Or maybe I am misunderstanding something :)

Cowrie is doing it like this:
[code]

[2020-04-11 12:12] yuriescl commented on #593
@marcinx Thanks!

[2020-04-11 12:12] #593 closed

[2020-04-11 21:41] Tan686 opened #594 "Feature Request:"
### What problem does your feature solve?

### What would you like to see?

### What alternatives are there?

[2020-04-11 21:51] #594 closed

[2020-04-13 21:07] leighmcculloch opened #595 "SEP-0030: Add endpoints and procedure for rotating signers"
### What
Add endpoints and procedure for rotating signers when a SEP-30 server thinks it would be a good idea to rotate a signer.

### Why
SEP-30 doesn't provide any specific procedures or instructions for how to rotate the signer of an account. A client is always able to rotate the signer of their account by deleting an accounts registration with a SEP-30 server then re-registering the account. W

[2020-04-15 01:23] msfeldstein commented on #443
I created a PR to see what this would look like if we added asset_issuer.  I think this causes less churn than switching to SEP-11 style asset representation.  We don't need to choreograph a migration this way, since there is a default value (their own issued token) when asset_issuer isn't there.

This also changes the deposit meaning of asset_code to match the withdraw meaning, in that they both

[2020-04-20 05:45] johansten commented on #595
I' not sure where to discuss this SEP, but have you looked at voting pools? They seem similar a concept.

You'd have an account, signed fully by a bunch of delegate signers, w/ some appropriate threshold, and when you as an owner of the account wants to transact, you sign a message and send it to all of the delegates, who sign it for you.

Where the similarities really come in is that since there'

[2020-04-23 21:25] #443 closed

[2020-04-24 16:19] abuiles opened #600 "Protocol 13 SDK support [META]"
Meta issue to keep track of protocol 13 support across community SDKs.

[2020-04-24 17:27] leighmcculloch commented on #595
@johansten Thanks for pointing out we don't have a good place to discuss SEP-30 in general. I've started [a thread over on the stellar-dev mailing list](https://groups.google.com/forum/#!topic/stellar-dev/SFr2dHBZlsY). Would you be able to post your thoughts about voting pools there? Thanks!

[2020-04-28 22:21] msfeldstein commented on #527
This was fixed in #550

[2020-04-28 22:21] #527 closed

[2020-04-28 22:27] msfeldstein commented on #521
SEP-26 endpoints can use whatever prefix you want so if you have a conflict and already have a sep6 deposit endpoint at `mydomain.com/deposit` you can have your api path be `mydomain.com/non-interactive` and the deposit url will be `mydomain.com/non-interactive/deposit`.  I don't think we need to make any modifications to the actual endpoint names, but lmk if i am off base here

[2020-04-28 22:27] #521 closed

[2020-04-28 22:28] msfeldstein commented on #475
I think this works for everyone now.  Web based wallets can use the popups as demonstrated by the demo client, native wallets can still embed however they like.

[2020-04-28 22:28] #475 closed

[2020-04-29 10:56] aria27 commented on #600
Open

[2020-05-12 17:57] leighmcculloch commented on #573
I think [OpenID Connect](https://openid.net/specs/openid-connect-core-1_0.html) which is layered on-top of Oauth 2 will work pretty well. This [FAQ](https://openid.net/connect/faq/) is a good starting point about it.

These features of OpenID Connect will support SEP-30's external auth well:

- OpenID Connect supports discovery, so a client can discover how to use an identity provider based on fil

[2020-05-13 00:08] yuriescl opened #614 "SEP-24: list available types for the fee endpoint"
Allow Wallets to discover which types are available for the [fee endpoint](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#fee).

It currently states:
`type`: (optional) Type of deposit or withdrawal (SEPA, bank_account, cash, etc...).

Wallets should be able to discover which values are available for that `type` parameter.

[2020-05-13 00:09] yuriescl commented on #614
@msfeldstein

[2020-05-13 00:20] yuriescl opened #615 "Feature Request: SEP-6/SEP-24 add transaction id to responses"
In SEP-24 Interactive Customer needed response, there's an `id` field which can be used by the Wallet to track the transaction.
I think it would be a good idea to include this `id` field in all responses related to creating transactions:
* [SEP-6 deposit no additional information needed](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#1-success-no-additional-informati

[2020-05-13 11:05] yuriescl commented on #614
SEP-6 also has a /fee endpoint, so the same suggestion applies there.

[2020-05-13 14:09] yuriescl opened #616 "Feature Request: SEP-24 custom fields"
SEP-6 has support for [custom fields (there's a "fields" field)](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#for-each-deposit-asset-response-contains) to be passed to `/deposit` and `/withdraw`, but [SEP-24 doesn't (no fields parameter)](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#for-each-deposit-asset-response-contains).
Some An

[2020-05-13 17:53] ire-and-curses opened #617 "Implementing muxed accounts"
Recently, [SEP 23](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0023.md) was updated to include some notes proposing steps to support [CAP 27](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0027.md) (muxxed accounts) for general use.

This issue is to brainstorm the steps needed to make muxxed accounts a reality, to motivate the need, and to evaluate the

[2020-05-13 17:58] tomquisel commented on #617
@MonsieurNicolas heads up on this. I think the broad point here is that bringing this to completion is a major investment, and as of now there's unclear product value and demand from the community. As to that last point, we'd love to hear from anyone who needs muxed accounts!

[2020-05-14 23:33] msfeldstein commented on #616
Can you just collect this in the interactive flow itself? Whats the purpose of sending it to the API (and thus requiring the wallet to build a UI to collect it)

[2020-05-15 14:40] yuriescl commented on #616
You're right. There's a very specific use case I'm working on, in which the Anchor allows the Wallet to pre-set some values before the interactive flow, but this might be too specific and not needed in the protocol.

[2020-05-15 14:40] #616 closed

[2020-05-15 15:36] leighmcculloch commented on #617
I think we also need to evaluate the vocabulary we want to use around this. M address won't really cut it in the SDKs. We refer to G addresses simply as addresses in the code. We need to make some decisions like:
- Do we use the term address to mean G or M address and find a new term for each of those?
- Do we use the term address to mean G address as it does now and find a new unique term for M a

[2020-05-15 15:42] ire-and-curses commented on #617
We can discuss, but we already use terms like `MuxedAccount`, `MuxedAddress`, `unmuxedAddresses` in the code base.

[2020-05-18 19:35] pselden opened #618 "SEP-11 (txrep) support for protocol 13 changes"
When testing and adding support for protocol 13 in https://github.com/stellarguard/txrep, I realized that there's currently no way to handle the the following:

1. Differentiating between a v1 transaction and a v0 transaction from a txrep. Maybe for practical purposes this isn't a necessity and no one cares as long as the end result of the transaction is the same, but currently there's no way to d

[2020-05-21 22:30] MonsieurNicolas commented on #617
Great points @ire-and-curses and I think it makes sense.

I wish we would have gotten this type of feedback before making the xdr changes as we're stuck with them now that they're included in protocol 13 (along with risks that come with features that are never used). In particular, it seems like the changes left would take longer to implement than waiting for "the next core protocol release".

Nex

[2020-05-22 00:13] MonsieurNicolas opened #621 "Request: cleanup result for failed transactions containing multiple operations"
Right now the `txINNER` error code is quite confusing:
if a transaction containing multiple operations has one operation failing, the operation results after the failing operation are either defaulted to `0`, or operations are applied anyways (but their results are arbitrary).

Reason we picked this behavior originally was to try to give as much information to callers as possible so that callers c

[2020-05-22 17:38] MonsieurNicolas opened #622 "Protocol Request: change how the close time is used when applying transactions"
### What problem does your feature solve?

Right now when applying transactions, we use the close time decided during consensus, which is a different close time than what was used to validate transactions. This creates the possibility that a transaction gets accepted in a ledger only to fail later. This can break certain smart contracts if transactions are submitted at exactly the wrong time.

###

[2020-05-22 18:31] tomerweller commented on #621
Agree that the current handling is very confusing.
However, I'm concerned about having an operation results list that is shorter than the submitted operations list. That seems to break an implicit contract and might break existing code that relies on it.
What about adding an error code that explicitly means "This operation was not evaluated" ?

[2020-05-22 23:02] #595 closed

[2020-05-26 22:29] ire-and-curses commented on #621
I like "operation not evaluated"as well. On Horizon side I think it would make it simpler for callers to reason about their tx and it seems unambiguous.

[2020-05-27 01:37] MonsieurNicolas commented on #621
I also thought at first that adding a new error code to `OperationResultCode` was the least disrupting change; but then I realized that if there is code out there that looks at those results, they are buggy and would probably not be able to distinguish a "real" error code from an error code that says "not an error code", so crashing with an "out of bound" error or "NRE" seems like a better propert

[2020-05-27 15:50] ire-and-curses commented on #621
Ambiguous - I meant that returning results up to the first failing operation is a convention, which must be known, understood and the variable list length handled by the caller. Returning all the results can't be misunderstood. I do agree with your point about existing code potentially not inspecting the error type, but I'm not sure what the consequences of that would be. Probably any error would

[2020-05-28 16:41] MonsieurNicolas commented on #621
yeah the convention is that for operation `op_i` the result is `result_i`, but I am not talking about changing this

[2020-05-29 01:44] MonsieurNicolas opened #624 "(meta) CAP process update"
Recent protocol changes help identify some gaps in the process, in particular there was some confusion on the responsibilities between the working group and the protocol committee.

Here are some changes I'd like to see and discuss.

# Working group updates

## Updated contribution model

A simple way to help add clarity to this stage is by providing guidance on how to run that working group, by s

[2020-05-29 12:54] jonjove commented on #624
This seems great. One other minor thing I've mentioned in the past is that we aren't making any use of the "Test Cases" section. We should either articulate how to use this section correctly and _actually_ use it, or we should remove it. Either path is fine by me.

[2020-06-03 22:58] ire-and-curses commented on #624
Utilization by what? Stellar Core? Or downstream?

What does "how the stack lights up" mean?

[2020-06-04 00:54] ChristianCryptoCurrencyCoin opened #627 "Locked Error: extras.result_codes: {"transaction":"tx_bad_auth"} Result XDR: AAAAAAAAAGT////6AAAAAA=="
Looks like my "Number of existing signatures" is 0 and that is what is causing my issue. If that was the case wouldn't I be locked out? How in the world do I get back into my main account? This has been the most frustrating deal. I can never find any answers and no one responds to my tickets on any wallets. I hope there is something I can do ASAP.

extras.result_codes:
 {"transaction":"tx_bad_auth

[2020-06-04 02:31] ChristianCryptoCurrencyCoin commented on #627
It says my Account lock status: Locked
Though I only meant it for the one token created.
This doesn't mean my who portfolio is locked does it? This is just crazy.

[2020-06-04 05:22] ChristianCryptoCurrencyCoin commented on #627
Oh my, I somehow did what this guy did. https://www.reddit.com/r/Stellar/comments/awxufy/deleted_my_accounts_secret_key_as_a_signer_somehow/    I can't afford to lose the money in there, what do I do? They just told them they're SOL.

[2020-06-04 20:19] MonsieurNicolas commented on #622
Expanding on this a bit, on why this is annoying.

For regular transactions submitted by SDKs that set expiration time to make it easier to know when they can safely re-submit (with a potentially new sequence number) a transaction. This is trying to guard people against clients running in parallel and issues caused by mem pool & network congestion/surge pricing. With this bug, they're charged a tr

[2020-06-04 21:04] MonsieurNicolas commented on #622
Actually there might be a different way to fix this:
what we can do is change the combine candidates function to remove transactions from the transaction set (and dependent transactions) based on the new close time.

See:
https://github.com/stellar/stellar-core/blob/c097a3fe36f108bcbb52e4995b81bfe617f3109a/src/herder/HerderSCPDriver.cpp#L724

Right now this function is a no-op; only downside with

[2020-06-05 09:34] stanbar opened #630 "Feature Request: Asynchronous Voucher Transactions"
### What problem does your feature solve?
For my project build on Stellar, I need to create an asynchronous "voucher" transactions that can be redeemed (published to the network) any time, in any order.
I know that it can be achieved by channels. The voucher distributor creates a channel account for each "voucher" transaction. This channel account is then the source of the transaction for redeemin

[2020-06-06 15:17] ChristianCryptoCurrencyCoin commented on #627
![Only Response](https://user-images.githubusercontent.com/66155522/83947791-dd8ff980-a7de-11ea-8f00-cfb0fa886e7a.png)

[2020-06-06 15:20] ChristianCryptoCurrencyCoin commented on #627
I want to believe there is still a workaround, but I haven't received anything other than a Support Ticket from LOBSTR. I hope someone knows something.

[2020-06-06 21:04] MonsieurNicolas commented on #630
Would something like [CAP-0023](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0023.md) solve your problem?

[2020-06-08 15:33] tomquisel commented on #624
I like this update to the process! The most important part I'd like to see included in the CAP process is a part where the the expected changes to the following systems are mapped out at a high level:
* Horizon
* SDKs
* ecosystem apps

Ideally changes to the Horizon REST API, key changes to the SDK interfaces, and key changes to the ecosystem apps can be written out explicitly, and confirmed / app

[2020-06-08 17:10] tyvdh commented on #627
According to https://www.stellar.org/developers/guides/concepts/multi-sig.html if your available signers are all weighted below the thresholds for operations there is, by design, nothing you or anyone can do to move or interact with that account.

The SDF actually made use of this feature to "burn" ~55,000,000,000 XLM back in November.
https://medium.com/stellar-development-foundation/sdfs-next-st

[2020-06-08 17:10] #627 closed

[2020-06-08 17:18] tyvdh commented on #627
Out of curiosity were you following a tutorial, walkthrough or using an app or interface which lead you to create and submit the transaction which removed the signer for your account?

Maybe we can add or suggest language to help folks in the future to avoid similar issues.

[2020-06-08 17:26] ChristianCryptoCurrencyCoin commented on #627
There was a YouTube page. Unfortunately, going directly to the Stellar Laboratory didn't flag any warnings. I thought if there would have been any locking it would have just been to lock the creating token. Never have read anything that stated you would lock your whole account. Unfortunately, it seems like a honey trap to me. Sorry that you didn't know that it could happen, but we put the trap the

[2020-06-08 17:37] tyvdh commented on #627
Can you share a link to the YouTube page?

We'll consider adding an alert to the Laboratory and including stronger callouts in the multisig docs and any walkthroughs the SDF does on issuing assets.

[2020-06-08 18:01] JakeUrban opened #633 "Prospective SEP Discussion: Exchange API"
**Purpose**

This issue should facilitate discussion for a possible new SEP, which would describe a standardized way for wallets and anchors to allow users to purchase Stellar tokenized assets with a different off-chain asset.

For example, there has been prior discussion about how to support users who want to purchase XLM using their local fiat currency. See stellar/stellar-protocol#625.

The goa

[2020-06-08 18:04] JakeUrban commented on #633
@andywer @msfeldstein @tomerweller

[2020-06-09 15:20] stasbar commented on #630
What is the maximum number of claimants ?
And what are the types of predicates ?

[2020-06-09 16:36] leighmcculloch commented on #630
The claimable balances are limited to 10 claimaints:
https://github.com/stellar/stellar-protocol/blob/725cb17e7493b841c8e886b5caf35bcb141e04e1/core/cap-0023.md#L131
These are the predicates defined in the CAP at the moment:
https://github.com/stellar/stellar-protocol/blob/725cb17e7493b841c8e886b5caf35bcb141e04e1/core/cap-0023.md#L79-L94

[2020-06-10 23:26] s-a-y commented on #633
This is something I'm looking at, but not sure what are the benefits of having a SEP, there is no really interaction between different parties, I was planning to do that just inside the interactive flow, user is making a deposit, but then have to choose the currency to pay with.

[2020-06-11 15:40] stasbar commented on #630
Unfortunately, it doesn't solve the problem. In my case, the user doesn't have a stellar account. He just wants to redeem a voucher, without even knowing that he's using Stellar blockchain.

[2020-06-11 23:22] tomerweller commented on #633
@marcinx yeah, if there's an on-chain market then this is irrelevant. However, this discussion is around off-chain liquidity. So for example, let's say you've got some XLM and are willing to sell them for Israeli Shekels (fiat).

@s-a-y you're right. An interactive deposit/withdraw works, for the most part. The problem with this approach is that is that now you're dealing with two currencies so wh

[2020-06-12 19:43] marcinx commented on #484
Hi all! @gdini2003 and I opened PR #637 to make the KYC flow in SEP-26 non-interactive. Oddly, it currently follows the interactive flow of SEP-6.

[2020-06-13 19:48] MonsieurNicolas commented on #622
Actually this last solution (change the way we combine candidates) doesn't work: if we were to remove transactions at that stage it would imply that somebody spamming the network with "close to expiration" transactions would not pay any transaction fees; worst they could spam with "very large fees" and take over ledgers entirely (only to see those transactions removed for the ballot protocol) so t

[2020-06-13 21:37] MonsieurNicolas commented on #622
possible alternative: use the ct associated with the txset (instead of max) and punt the requirement on the txset before they get into the candidate set.

[2020-06-14 04:11] Synesso commented on #618
Further to point 1: txRep exposes the structure of the transaction. With the definition of a v0 transactions changing in protocol 13, how should parsers handle `tx.sourceAccount` in a backwards compatible way? That field no longer exists. Would we possibly expect to see backwards compatibility shim-rules being constructed as the protocol evolves?

[2020-06-14 05:49] Synesso opened #644 "SEP-007 (license to curl) ambiguities in `replace` parameter"
### What version are you using?

SEP-0007 v2.0.0

### Problem

No guidance is given to valid structure of _reference_identifier_ and _hint_ fields in the `replace` parameter of the SEP-0007 URL. This value is logically structured with invariants that are ambiguous.  It is perhaps easiest to define this problem via examples.

**reference_identifer mismatch**
`replace=tx.sourceAccount:X;Y:Source Acc

[2020-06-15 17:22] stanford-scs commented on #618
We ideally wouldn't have to type `v0` and `v1` before every transaction.  So should we special-case `TransactionEnvelope`?  Or special-case union tags named `v[0-9]+`?  I'd appreciate opinions or suggestions on the question before updating the txrep spec.

[2020-06-15 18:26] leighmcculloch commented on #618
If we allow the tags to be omitted do we assume backwards consistency and default to v0 or forward consistency and use the latest version?

If we go with the former then txrep and XDR encoding to and from will be consistent across XDR changes, but also we'll be building old transaction versions for new txreps.

If we go with the latter then a txrep written a year ago will generate different XDR wi

[2020-06-15 18:37] pselden commented on #618
I'm with @leighmcculloch  -- I feel that txrep should represent the meaning behind the transaction, not necessarily the exact bytes of the XDR.

Taking that stance however means that any signatures stored in the txrep might be worthless.

[2020-06-15 18:42] leighmcculloch commented on #618
I'd go as far as saying that any implementation of txrep should guarantee that an XDR message decoded into txrep must re-encode back into the same XDR message inside a single execution of the program, but outside of a single execution of a program that can't be guaranteed. So short term should be short term in memory.

If there are uses beyond that maybe we could specify a way to generate verbose

[2020-06-15 18:49] stanford-scs commented on #618
So to be clear, I'm not advocating introducing any ambiguities.  The discriminant would still be there, but the branch name would be omitted.  This doesn't capture all of XDR in the event that you have nested unions with the same discriminant name.  But we could say it only works for non-unions inside unions.

More concretely, a transaction in txrep now looks like this, where `type` defaults to 0

[2020-06-15 21:19] stasbar commented on #630
Is there any chance of seeing this in the stellar protocol? This feature would allow anonymous transactions, which are not possible in any other way (because of the seq number synchronization).

[2020-06-29 08:41] aghamir commented on #71
Is there any progress on this issue? To be honest, force to use federation address cannot solve the problem because many exchanges don't support federation address as a withdraw address. I think implementing the memo_required_flag is the best practice to reduce this issue for exchanges same as XRP and BNB.

[2020-06-29 11:43] rice2000 commented on #71
Yes!  This has been addressed at the ecosystem level by SEP-29, which specifies how to set a `memo-required` flag on an account:
https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0029.md

It's also been addressed at the protocol level by CAP-27, which introduces first-class multiplexed accounts (though there's still work to be done to figure out how to best expose the feature i

[2020-06-29 11:43] #71 closed

[2020-06-29 15:06] ire-and-curses commented on #71
Also worth noting that most SDKs are enforcing SEP 29, e.g. here it is in the Go SDK: https://godoc.org/github.com/stellar/go/clients/horizonclient#Client.SubmitTransaction

[2020-06-30 15:01] nikhilsaraf commented on #644
Hi! Thanks for raising these issues. I'll try and address them as best as I can and if we conclude that the SEP needs modification then that's on the table.

#### reference_identifer mismatch

The reference identifier set in the field to id half should match the reference identifier set in the id to hint half exactly. In this example, {X} != {Y}

The example quoted above is invalid, for the reason

[2020-06-30 17:51] rokopt commented on #622
I've started experimenting this, and testing has brought up a question.  Nicolas pointed out that if we just take the best txset, with its own specific closetime, rather than combining txsets, and (by taking the maximum of all candidates) their closetimes, then we will have an answer to the question "who proposed this chosen txset?" (currently there is no answer to that question because a txset, i

[2020-07-01 22:00] leighmcculloch commented on #80
Hi @Cajga, I'm particularly interested in ideas that would make the data that federation services expose verifiable. As @theaeolianmachine mentioned here https://github.com/stellar/stellar-protocol/issues/80#issuecomment-471010110 if you could move the proposal into the format in a PR we could merge it as a draft proposal.

In terms of the proposal itself, I'm particularly interested in this state

[2020-07-02 22:01] Synesso commented on #644
Thank you.

I attempted to address *reference_identifer mismatch* in
https://github.com/stellar/stellar-protocol/pull/664

*Separators in hints* might be addressed with unix style single quoting. -
'value that can contain anything except another single quote'. If a single
quote is required in the hint, then the typographic variant can be used -
’

On Wed, 1 Jul 2020 at 01:01, Nikhil Saraf <notific

[2020-07-02 22:30] rokopt commented on #622
Some musings:

- Jon and I discussed this, and while we didn't come to a conclusion, I do gather that the upgrades do happen independently of the transactions:  we could view the ledger closes as an optimization of alternating transaction set applies and ledger upgrades.  So we do have a free choice between proposing to change upgrades in the same way as we are proposing to change closetime, or no

[2020-07-03 14:53] antb321 opened #665 "Sep-31 external_transaction_id"
I think that we should add this to the transaction submission as required. This is the sending Anchors's reference. It needs to be unique.

If a transaction gets submitted twice the receiving anchor will reject it and it can be used as an additional key for reconcilation purposes.

This protects in the event of an error on the sending Anchor's side or if horizon has an issue.

This external ID cou

[2020-07-03 19:35] JakeUrban commented on #665
Each request to `POST /send` should create a new transaction record for the receiving anchor, since `POST` requests are not idempotent. So the receiving anchor shouldn't accept a sending-anchor ID in the first request but reject the same request the second time.

But the receiving anchor returns a unique `stellar_memo` property in the response, which the sending anchor can use as an ID for the tra

[2020-07-03 20:29] tempofr commented on #665
So tempo's issues happened 2 years ago with coins and flutterwave. The
script got back errors from horizon but the transaction was sent. We then
added code to poll horizon to see if a transaction for the same amount in
the same currency had already been sent in the past 30 minutes.

If Tempo had passed an external identifier as a fail safe coins/flutterwave
would have known this was a duplicate tr

[2020-07-03 21:24] JakeUrban commented on #665
@tempofr when you make a request to horizon's `accounts/<>/transactions` endpoint, why not use the transaction's memo to match it with one in the response? If you don't know the hash or id of the transaction, you can still use the memo that the client specifies when submitting.

This memo that the sending anchor uses, which was specified by the receiving anchor in the `POST /send` response, could

[2020-07-03 21:36] JakeUrban commented on #665
Can you reach out to coins and flutterware to add an `external_id` field to the `fields` object in their `/info` response?

[code]

[code]

[2020-07-07 17:37] leighmcculloch opened #668 "SEP-0030: Make compatible with CAP-33"
### What
Make SEP-30 compatible with CAP-33 by allowing as source account of any transaction/operation being signed to be an account as defined in an configuration provided to the application during startup.

### Why
SEP-30 requires an implementation to only sign transactions where the source account of a transaction and all its operations are the registered account. CAP-33 adds sponsorship to the

[2020-07-08 04:21] rokopt commented on #622
See the [draft PR](https://github.com/stellar/stellar-protocol/pull/671).

[2020-07-08 05:43] farzbood opened #672 "Inconsistency in the outcome of the Horizon, Operations End-Point."
Hi Everyone,
While I was exploring my pilot-app's transactions/operations, this comes across:
Account: "GA263PIIYTCWVD7TQX2TLC7KCHW6EOP5A57ZIOY4OR33GA2SJ2C4EETI" created by
Account: "GAEINH2YYS57QGSR2M4VGU6XSILY3NQLFKVIQN7AJN545HK2UC6NV4SP" as shown in this query:
https://horizon-testnet.stellar.org/accounts/GA263PIIYTCWVD7TQX2TLC7KCHW6EOP5A57ZIOY4OR33GA2SJ2C4EETI/operations

But the corresponding

[2020-07-08 08:51] bartekn commented on #672
It's [there](https://horizon-testnet.stellar.org/accounts/GAEINH2YYS57QGSR2M4VGU6XSILY3NQLFKVIQN7AJN545HK2UC6NV4SP/operations?cursor=4430306010468353) but on the next page of results (by default Horizon displays 10 results per page).

[2020-07-08 08:51] #672 closed

[2020-07-08 12:53] farzbood commented on #672
Got it !
Thanks for your kind reply.
Sorry for bothering you.
Stay Safe V

On Wed, Jul 8, 2020 at 1:21 PM Bartek Nowotarski <notifications@github.com>
wrote:

[2020-07-09 02:32] rokopt commented on #622
Is there a reason that this is not also a problem when a transaction consumes a sequence number but fails for some other reason besides `txTOO_LATE`?  For example, what if a transaction was valid when accepted into a transaction set but no longer had a high enough balance by the time it was about to be applied, because of previously-applied transactions?  That, I think, would also consume a sequen

[2020-07-09 13:27] yuriescl opened #676 "SEP-31: questions about SEP-12"
In [SEP-31](https://github.com/stellar/stellar-protocol/blob/a0e4114f973e21fa206f2dc4ddf2ef85ebbc25fd/ecosystem/sep-0031.md) there are mentions about SEP-12 and the KYC process of both senders and receivers (users).
Isn't SEP-12 used to store individual information about Stellar accounts? (first name, last name, bank account, etc)

Since SEP-31 is for Anchor-Anchor transactions, I don't see how SE

[2020-07-09 14:06] jonjove commented on #622
This sounds almost tautological, but any good smart contract should be designed such that transactions (Tc) contingent on the success of another transaction (T) are not executable unless the first transaction succeeds. There are a few ways that this can be achieved. Some examples:
- Make it so that T cannot fail, thereby avoiding the problem entirely.
- Make it so that T has a side-effect which en

[2020-07-09 14:34] rokopt commented on #622
Thanks -- I think I might be closer to getting this now.  But possibly not all the way -- let me see if I can state this in words of my own, and find out whether they're sensible or not.

I can see why you call that second approach powerful -- it does sound rigorous to me.  I guess that the `BumpSequenceOp` is the last operation of `T` in such cases, and that the `BumpSequenceOp` has no failure ca

[2020-07-09 14:52] jonjove commented on #622
Indeed, `BumpSequenceOp` does not fail. It doesn't even have to be the last operation, it just has to be one of the operations.

The gist of what you wrote is correct, but it's not how I would state it. I would flip the statement around. It is possible to use operations that can be guaranteed not to fail due to established preconditions (and the required preconditions might be the empty set), and

[2020-07-09 16:40] msfeldstein commented on #676
The purpose of sep12 is to communicate customer information from the sending anchor to the receiving anchor.  We assumed that both anchors would want to at least know who both sides of the transaction are.

The receiving anchor is responsible to run any kyc checks on either of the end users that it cares to check out, but its up to the sender to provide the information.  The SEP31 flow assumes tha

[2020-07-09 16:40] msfeldstein commented on #676
SEP-12 is used to communicate customer information between anchors, it doesn't make any statements or assumptions about what checks or verifications get done with that information.

[2020-07-09 16:53] yuriescl commented on #676
Isn't SEP-12 intended to store information about the owner of an individual Stellar account? My confusion is that SEP-31 has only two accounts and they're Anchor accounts, it wouldn't make sense to use SEP-12 for that.

[2020-07-09 16:54] yuriescl commented on #676
Why not just pass all required fields in a single `/send` call?

[2020-07-09 17:01] msfeldstein commented on #676
The reason we made this change was to allow customer information to be sent prior to any transaction being made.  Sometimes the KYC checks anchors want to run take a while, especially for b2b payments, and they want to be able to onboard users ahead of a transaction.

SEP-12 does key by a stellar account, but it allows for a memo which allows a custodial style approach to identifying users.  The s

[2020-07-09 17:02] JakeUrban commented on #676
@yuriescl some anchors want to KYC the sending and receiving users before starting a transaction.

For example, if a _receiving anchor_ takes 24 hours to approve a user's KYC info, a _sending anchor_ would want to register the sending and receiving users via SEP-12 before starting the SEP-31 transaction via a `/send` call.

Also, its more work for the sending anchor to send the KYC info on each `/

[2020-07-09 17:05] JakeUrban commented on #676
SEP-12 lets clients use a `memo` and `account`, so a SEP-31 sending anchor would use their own `account` but use a `memo` as their user ID.

[2020-07-09 17:11] yuriescl commented on #676
This makes sense.

Oh, I see.
In SEP-12, why is there an account parameter if SEP10 already carries the pubkey?

Thanks for the clarification!
A suggestion is to add those insights/suggestions to the SEP docs.

[2020-07-09 17:22] JakeUrban commented on #676
In the context of SEP-31, you're right the `account` parameter is unnecessary. But in the future it may be possible the account thats authenticated via SEP-10 is different from the `account` being passed via SEP-12. `M-addresses` may fit this case.

[2020-07-09 17:26] yuriescl commented on #676
All my questions were answered and I don't have anything more to add, feel free to close this issue, thanks!

[2020-07-09 17:26] #676 closed

[2020-07-10 00:47] MonsieurNicolas commented on #622
Adding a few comments from the CAP.

nit: use a numbered list as it makes it a lot easier to reference

I mentioned this in previous conversations. There is a missing bullet here (possible thanks to the previous bullet) that describes how we change the validity criteria for a `StellarValue` (during all stages of SCP): we now consider invalid a `StellarValue` that contains transactions that are not

[2020-07-10 02:17] rokopt commented on #622
I've opened up PR #679 , a draft pull request for commentary on the in-progress second draft of the document (the first draft having been merged in PR #671 ).  I'll reply to Nicolas's comments here, and commit changes to that branch, and we'll have the option of making further comments in the PR as well.

[2020-07-10 02:53] rokopt commented on #622
I'm not sure whether you meant that you'd like all lists to be numbered, or whether it's just "Semantics" specifically that would benefit from being able to be referred to by number -- for now I've only changed that one, but if you meant the former, I'll change all the lists.

Yes, it's in the rationale -- and also the code! -- but I forgot it in the "Semantics".  I've added it now.

Okay, I've re

[2020-07-10 04:50] rokopt commented on #622
By the way, it occurs to me that I don't understand why we weren't _already_ validating this.  It's true that before my changes, we didn't know exactly what the `closeTime` was going to be at next ledger close if that `StellarValue`'s transaction set turned out to be the best.  But we were taking the _maximum_ of all `closeTimes` in `combineCandidates()`, so we did know that if that `StellarValue`

[2020-07-10 17:57] rokopt commented on #622
After more thought, that gives me an idea for a whole new proposal for fixing
this protocol bug (v4!).  If my quoted paragraph above is wrong, then the
following is nonsense, but if it's right, then this new idea is my favorite so
far.

This new proposal combines ideas from three sources, with a couple slight
modifications:

1. The v2 proposal in this issue to trim transactions based on the new cl

[2020-07-10 19:45] rokopt commented on #622
Here are some of the things that I like about this v4 proposal:

1. The proposal prevents the race that motivated the CAP; it ensures in all
cases that a transaction that returns `txTOO_LATE` does not consume a sequence
number and does not pay a fee.  This is manifestly ensured in a single place in
the code:  in `combineCandidates()`, where we would now explicitly trim any
transactions that would

[2020-07-10 20:03] MonsieurNicolas commented on #622
Sorry I am not really following.

On the quoted paragraph, right now we use `lcl.ct` to verify, in the current CAP, we're going to use the associated `ct` from the same `StellarValue` but that change by itself is not enough: if we continue to use the `max(ct)`, some transactions may be considered expired later in the protocol (see below).

closeTime in combineCandidates(). However, I propose to do

[2020-07-11 00:18] rokopt commented on #622
Yes.

Right, sorry, I keep doing that.  I meant "nominated".

Yes.

That bias would exist, yes, but I don't see how it's a worst case -- specifically, it seems to me that it's strictly better than what we have today.  It can't be the worst case -- today's is worse!  Here's what I mean:  that bias will indeed favor sets with the larger `closeTime`.  But, as you point out, that bias comes from preci

[2020-07-11 00:55] MonsieurNicolas commented on #622
I was talking about worst than solution 3 as your comment is a counter to proposal 3.

kind, of: the reason solution 2 was bad was that we could end up with "empty ledgers" (or close to) instead of failed transactions. This achieves the same result. Basically the network does less (potentially close to no) work instead of doing "bad" work like processing failed transactions.
Reason we landed on so

[2020-07-11 01:48] rokopt commented on #622
Yes, I agree about that comparison.

Agreed, taking the `closeTime` from the winning `transactionSet` is even better at maximizing useful work.

Agreed there too.

I don't think I'm assuming that -- it's more like I'm not even sure whether there is a single "the" most controversial part, and simply splitting it up into two steps each of which has smaller individual justifications (first, fix the `

[2020-07-12 07:42] farzbood opened #680 "Feature Request: A way of providing/altering "home_domain" after limiting "Issuer - Master weight"."
### What problem does your feature solve?
Keeping the Anchor's "Issuer Account(s)" enable to change "home_domain" of their Asset(s) even after limitnig their "Master weight" (which is recommended by Stellar Documentation, to ensure "trustors" of their status consistency) to the minimum value only suite to validate "Low threshold" operations, perhaps (e.g. Allow Trust).

### What would you like to

[2020-07-13 15:21] nikhilsaraf commented on #644
@Synesso, I approved the PR #664
I didn't fully understand the suggestion above for separators in hints, but feel free to add a PR or elaborate on the explanation.

[2020-07-13 16:07] tomerweller commented on #680
There are some security implications to lowering the threshold on setting the `home_domain`. Low threshold signers will usually be kept online ("hot wallets") so are expected to be somewhat less secure. If a malicious user redirects an asset's home domain to a malicious domain that can be catastrophic. One example is a malicious transfer server that redirects deposits/withdraws.

@farzbood can you

[2020-07-14 03:59] rokopt commented on #622
I have marked the second revision of the document, which I hope integrates the changes from the discussions above, as ready for review: https://github.com/stellar/stellar-protocol/pull/679

[2020-07-14 04:07] rokopt commented on #622
Also, for reference, the code: https://github.com/rokopt/stellar-core/tree/proto-622-closetime

[2020-07-14 05:35] farzbood commented on #680
Well, I'm not an Sec. expert, so won't argue about those aspects of the Network. but from a software solution analysis P.O.V, the high-tide cohesion to an attribute like a **domain-address**, is not so encouraging to me.
### What comes to my understanding is:

- Status quo:

  All Signers of an Account are evaluate the same (except for their Weight).

- Proposing Specification:

 A Master-Key diff

[2020-07-14 22:35] rokopt commented on #622
There is now a PR ready for review: https://github.com/stellar/stellar-core/pull/2625

[2020-07-15 21:11] marta-lokhova commented on #622
A few comments on terminology and correctness

Terminology is slightly wrong here. "Nominated" implies confirmed nominated. Here, we're talking about transactions to include in a nominate message at the very beginning of a consensus round (so, we haven't confirmed anything yet). It would be clearer to say "Which transactions to include (not to trim) in StellarValue a node votes to nominate?"

Let'

[2020-07-15 21:39] rokopt commented on #622
Thanks -- I've tried to incorporate these in an in-progress third draft, in this commit: https://github.com/rokopt/stellar-protocol/commit/99e2b0e1cc96b51931e3e2ac39a6ffb268470771 .

[2020-07-15 22:06] JakeUrban opened #685 "SEP-24: Wallet Attribution - verifying users' client applications"
**Problem Statement**
There has been ongoing discussion among wallets and anchors about how to verify that a particular user, or rather a particular stellar account, uses a specific client wallet application when making SEP-24 deposits and withdrawals.

The benefits of this would be:
- improved BI analytics for anchors
- the ability to process users from specific wallet applications differently

F

[2020-07-16 00:03] marta-lokhova commented on #622
A few more things, as I spent more time with the implementation and was referring to the CAP for details:

This sounds like the proposal eliminates this attack completely, but I don't think it does. If a transaction set introduced by the misbehaving node ends up being the composite value, then you end up with the same problem. So while this proposal makes it harder to execute the attack, it still

[2020-07-16 18:23] leighmcculloch commented on #685
I think one issue is that this relies on the optional reverse lookup feature of a federation server, looking up a username from a Stellar address. Not all federation servers will implement this. Some will not want to support reverse lookup to prevent someone from discovering usernames for addresses.

We could address this concern without any changes to SEP-2, by saying that a federation server tha

[2020-07-17 16:27] msfeldstein commented on #685
Another solution might be to have the anchors give the wallets an API key to use when making requests to their server.  This would prevent bad actors from pretending to be a different wallet.

The downside to this might be that we need to store API secrets on device, and that's a new security concern that wasn't there before.  If we don't want to add a proxy server for signing these requests, we w

[2020-07-17 16:58] tomerweller commented on #685
Regarding BI: the `wallet_url` and `wallet_name` fields of sep24 requests might be sufficient (similar to how the HTTP `User-Agent` header is used for analytics). But that won't work for any wallet/anchor agreements that need strict tracking.

Reverse federation indeed looks like a low hanging fruit to solve this. It does, however, change the semantics of reverse federation. Instead of just answer

[2020-07-17 17:14] pitsevich commented on #685
Changes to the reverse federation response are rather minor.
We'd be happy to support that and implement this in LOBSTR and StellarTerm.

Some comments on the privacy concerns that @leighmcculloch mentioned -- we've been also thinking about that.
Our plan is to give the control over that to the users, so it would be their choice to select whether their federation address is exposed in the reverse

[2020-07-20 08:55] andywer commented on #685
Looks like an elegant approach so far. I am just wondering what to do if the user wants to use an alternative federation server for the account (like their own).

Maybe setting the `home_domain` on the account isn't even necessary? When the wallet send a request with a `wallet_url` to the anchor's SEP-24 transfer server, the transfer server could just look up that `wallet_url`'s domain's federatio

[2020-07-21 21:21] rokopt commented on #622
See [this conversation](https://github.com/stellar/stellar-core/pull/2625#discussion_r454749675) for exploration of the semantics of `minTime`/`txTOO_EARLY` (so far we have only been explicitly mentioning `maxTime`/`txTOO_LATE`).

[2020-07-21 23:32] rokopt commented on #622
I've attempted to correct the problems Marta pointed out in her second round of review in this commit: https://github.com/rokopt/stellar-protocol/commit/4e9feaec4b52c795d9c45fc7778c9c6338966005

[2020-07-22 17:33] rokopt commented on #622
The CAP has also been updated to reflect the latest implementation changes; see PR #691 .

[2020-07-23 17:01] leighmcculloch commented on #591
Since there hasn't been any feedback and the why not is compelling in my opinion, I'm going to close this until this becomes a substantial issue.

[2020-07-23 17:01] #591 closed

[2020-07-24 21:26] JakeUrban commented on #685
Your comments about using `wallet_url` are true @andywer but it requires the optional `wallet_url` parameter. As an anchor, I'd want a way to find the federation server regardless of whether or not the client specified the URL to use in the request.

I also wouldn't want clients to be able to offer different federation servers from whats specified in their account on Horizon. The value from this c

[2020-07-24 21:29] JakeUrban commented on #685
Since the changes described here largely pertain to the wallet & anchor's functionalities, I'm going to add guidance on this subject to SEP-24 and SEP-6 instead of adding to the SEP-2 document. There are no SEP-2 changes other than the ability for wallets to change the stellar_address based on the user's wallet settings. A small PR for that recommendation could be necessary too.

[2020-07-27 20:13] JakeUrban commented on #685
One thing I want to note here which I think is pretty important is that this solution does not enable anchors to verify that the user is using a wallet application _for a particular transaction_. A user could create an account with Lobstr, get the credentials, and make a deposit or withdraw with a different wallet that doesn't change the user's `home_domain`.

To me this seems to be a major limita

[2020-07-28 21:15] JakeUrban opened #694 "SEP-24: Clarify pending_anchor status"
`pending_anchor` covers any situation where the anchor takes time to process the user's transaction request. This includes verifying KYC details of the user in order to continue with the process and accept a deposit from them.

We should update the SEP-24 status diagrams and add a note about verifying KYC info. We want to discourage manual or even simply delayed KYC approval, everything should be

[2020-07-28 22:15] JakeUrban commented on #694
I want to update the diagrams on SEP-24 but I need access to the documents.

[2020-07-29 07:23] farzbood opened #695 "Feature Request: Separation of the Logic and Representation of (Buy)Offers of Assets."
### What problem does your feature solve?
**Ambiguity** in `(Buy)Offers`: `price` and `amount` attributes represents as the **exploration result**.
whenever a `BuyOffer` issues, the above mentioned attribs are shown in the result_set of the queries, as we set in the time of issuing, but as it `crossed`**(partialy filled)** a counter-offer, those attributes are transformed as the Offer was original

[2020-07-29 16:24] shredding opened #698 "Add Regex to fields!"
https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#info

We want to do client side validation for fields like this:

[code]

The `regex` part is new.

[2020-07-29 19:18] tomerweller commented on #698
I think we should avoid promoting a standard that has clients evaluating regular expressions coming from a remote server. This has the potential to expose a very large attack surface.

ReDoS: https://en.wikipedia.org/wiki/ReDoS

[2020-07-29 19:55] shredding commented on #698
Fair point.

Could we add a validation section to the error response? The current error is quite technical and arbitrary. If we'd have a key-value of fields to error, we could at least do server side validation and show the user hints to problems.

[2020-07-29 20:17] leighmcculloch commented on #698
Another challenge with using a regular expressions is that regex syntax isn't universal. Languages have slightly different syntaxes, and some languages implement the syntaxes differently. It's possible an anchor define a regular expression and a clients execution of it results in a different validation. This might be rare, but it is possible.

Instead of a regex we could define an enumeration valu

[2020-07-29 20:27] shredding commented on #698
I would like to expand the error a bit, then we could do server side validations:

[code]

Then we could at least show the error where it belongs. Currently I get error messages like "dest_ext must be xyz" and I don't want to explain users what "dest_ext" is.

Another way would be to add an optional validation endpoint, such as

[code]

... with the same parameters as the original deposit.

Then w

[2020-07-29 20:39] rice2000 commented on #617
@marcomontesneri from Saldo mentioned this week that he has a vision for using muxed accounts.  Hoping to get some follow up details here from him.

[2020-07-29 23:23] leighmcculloch commented on #698
Adding well defined server side validations would be a good start, and adding that to the transfer server SEPs would be worthwhile I think. Adding a validation endpoint is an optimization, but regardless it would be worthwhile to make the errors parseable.

The format you suggest would work. I think we should also consider does the format need to be more flexible and support multiple errors per fi

[2020-07-30 03:20] leighmcculloch commented on #685
Federation:

I think this statement `ownership of this account` and @JakeUrban's question highlights for me that I've been conflating account ownership and wallet use when thinking about this issue.

Based on the information in this issue, this issue is concerned with what wallet software is making the request in that moment, and not what wallet is "owning" the account, or created the account, or

[2020-07-30 08:22] shredding commented on #698
We might have a look into how django rest framework does it, as polaris is shipping it anyways. The basic idea is that internationalisation is opt-in by adding a https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Accept-Language header.

[2020-07-30 18:08] marcomontesneri commented on #617
The business opportunity we see: Stellar becoming an alternative to Real Time Gross Settlement (RTGS) networks. Muxed accounts would be more widely adopted by Fintech companies  (wallet providers) compared to G accounts + Memos.  As an anchor our solution would consist in creating M accounts in bulk for all the existing users that wallet providers have in their databases and a web service to creat

[2020-08-04 17:54] JakeUrban commented on #685
A high-level overview of what the solution would entail.

## A New SEP

This protocol would outline how a wallet client could receive a JSON Web Signature ([RFC 7515](https://tools.ietf.org/html/rfc7515)) that allows anchor servers to verify that the _client requesting the relevant operation is owned by the wallet server_. In this context thats a SEP-24 deposit or withdraw, but could be used in ot

[2020-08-05 22:32] jonjove commented on #622
Implemented in https://github.com/stellar/stellar-core/pull/2625

[2020-08-05 22:32] #622 closed

[2020-08-05 22:35] jonjove commented on #497
Implemented in https://github.com/stellar/stellar-core/pull/2389

[2020-08-05 22:35] #497 closed

[2020-08-05 22:39] jonjove commented on #303
Implemented in https://github.com/stellar/stellar-core/pull/2591

[2020-08-05 22:39] #303 closed

[2020-08-05 22:51] jonjove commented on #243
Implemented in https://github.com/stellar/stellar-core/pull/2269

[2020-08-05 22:51] #243 closed

[2020-08-05 22:57] jonjove commented on #188
Addressed by CAP-0023 and CAP-0033

[2020-08-05 22:57] #188 closed

[2020-08-05 22:59] jonjove commented on #133
Addressed by CAP-0015 and implemented in https://github.com/stellar/stellar-core/pull/2419

[2020-08-05 22:59] #133 closed

[2020-08-05 23:00] jonjove commented on #49
Addressed by CAP-24

[2020-08-05 23:00] #49 closed

[2020-08-06 01:46] #310 closed

[2020-08-06 18:09] JakeUrban opened #704 "SEP-12: Add optional ID parameter for PUT request"
The same optional parameter is supported for GET. This will allow clients to update existing customers using the ID returned from the original PUT response.

[2020-08-06 20:01] christian-rogobete commented on #618
Hi @pselden,  the latest version of the Stellar transaction compiler [stc](https://github.com/xdrpp/stc) supports fee bump transactions and muxed accounts. The [flutter sdk](https://github.com/Soneso/stellar_flutter_sdk) also supports them. I think that this issue can be closed. This is the txrep generated by stc for a fee bump transaction having a muxed account as fee source:

[code]
XDR:

[code]

[2020-08-11 19:56] #704 closed

[2020-08-14 20:41] jonjove commented on #495
Implemented in CAP-0028

[2020-08-14 20:41] #495 closed

[2020-08-24 15:09] jonjove commented on #324
@TorstenStueber what is your current status on this issue? Do you think that there are still fundamental problems here? I have some ideas based on what has been discussed in this thread (although I would want to make sure that I understand the problem fully before proposing any solutions), but obviously if the problem has been resolved then there is nothing of value for me to add.

[2020-08-26 15:19] JakeUrban commented on #614
I happened to be browsing the repo's issues and saw this. Here is what I always thought could be a solution to this.

Anchors could specify the `type` values and descriptions in the `/info` response:
[code]

This is similar to the structure for SEP-31's `/info` endpoint, which has an anchor-defined `fields` dictionary. @tomerweller @morleyzhi I'm curious what your thoughts on this may be. As of no

[2020-08-27 16:26] howardtw opened #715 "SEP-30 Feature Request: return auth method type in the response"
### What problem does your feature solve?

It helps the clients get to know which auth method they used to authenticate with the recovery signer without leaking PII.

### What would you like to see?

A response like this:
[code]

### What alternatives are there?

N/A

[2020-08-27 22:48] JakeUrban commented on #685
As mentioned in [my closing comment](https://github.com/stellar/stellar-protocol/pull/713#issuecomment-682228021), we're trying to make a nonbreaking change to SEP-10 that would allow anchors to verify a wallet server's signature on the challenge transaction in addition to the usual user keypair signature by the wallet.

[2020-08-27 23:36] JakeUrban commented on #685
Here is what the change described above might look like:

### The wallet server signs the challenge transaction

- The wallet application requests the challenge transaction as usual
- The wallet application authenticates with its backend server, the wallet server
- The wallet application posts the challenge transaction XDR to the wallet server
- The wallet server signs the challenge with the keypa

[2020-08-28 17:57] tomerweller opened #716 "SEP31: add dynamic fee endpoint"
The SEP31 `/info` endpoint already supports fixed fees and percentage fees. However, often times the receiver might have a more complex fee structure in place.

This is already supported in SEP24 through the `/fees` endpoint.

I propose adding a similar dynamic fee endpoint to the SEP31 spec. In SEP31 we might want this to be an authenticated endpoint so that the receiver can give different quotes

[2020-09-02 19:01] howardtw commented on #715
Closing because the frontend team said they are good without it for now.

[2020-09-02 19:01] #715 closed

[2020-09-02 19:19] howardtw opened #721 "SEP-10: SIGNING_KEY verification requirement can have a gap after a key rotation"
The new change introduced in [this](https://github.com/stellar/stellar-protocol/pull/708) PR makes it so that the signature of the challenge transaction has to match the one specified in the TOML file. However, a key rotation of the server can happen after the challenge transaction is given, the challenge transaction will then be considered invalid by the client.

In order to tackle this, webauth

[2020-09-02 20:10] JakeUrban commented on #721
Do I need to take some action on this? I thought you were designing the go changes to `webauth`

[2020-09-02 21:10] JakeUrban commented on #721
Howard has pointed out an issue that is related but separate from the SEP-10 PR referenced.

When a TOML's `SIGNING_KEY` is changed (rotated),  existing tokens currently in use by clients are "stale" in the sense that they were issued after verifying a cryptographic signature the server no longer claims to control.

In the same way, clients in the process of obtaining a SEP-10 token may have recei

[2020-09-02 21:12] JakeUrban commented on #721
@tomerweller @nebolsin

[2020-09-02 22:23] phil-stellar opened #723 "Feature Request: Improve "passive order" rule"
### What problem does your feature solve?
It improves the "passive order" rule for order/execution management on the SDEX.

### What would you like to see?
Retool the "passive order" to act more like a "maker only" ("post only") order. The current "passive order" allows for locked markets (but still executes for crossed markets), which in my opinion has very little utility. Changing this to "maker

[2020-09-03 15:49] MonsieurNicolas commented on #723
@sisuresh @jonjove FYI

[2020-09-03 15:49] phil-stellar opened #724 "Feature Request: Improve "passive order" rule"
### What problem does your feature solve?

Improves the "passive order" rule for order/execution management on the SDEX.

### What would you like to see?

Retool the "passive order" to act more like a "maker only" ("post only") order. The current "passive order" allows for locked markets (but still executes for crossed markets), which in my opinion has very little utility. Changing this to "maker

[2020-09-03 15:54] #723 closed

[2020-09-03 17:20] bartekn commented on #52
This is solved by [CAP-33](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0033.md).

@jonjove you reminded me about this issue during today's presentation 😄 .

[2020-09-03 17:20] #52 closed

[2020-09-03 17:20] bartekn commented on #66
Solved by [CAP-33](https://github.com/stellar/stellar-protocol/blob/master/core/cap-0033.md)?

[2020-09-03 17:31] MonsieurNicolas commented on #66
yes. Thanks @bartekn

[2020-09-03 17:31] #66 closed

[2020-09-03 17:55] nebolsin commented on #721
Challenge transactions are short-lived by design (I believe that recommended TTL is 5 minutes), which really limits the impact of the key rotation. I would expect the server which implements the key rotation to accept valid challenge transactions issued using the old key, but I think that's an implementation detail.

As far as the client side is concerned, server key validation happens _before_ pr

[2020-09-03 18:03] JakeUrban commented on #721
This is exactly what I think the client should do, and as you said I don't see a reason to add the old key to the TOML. The signing server can maintain a reference to the old signing key to validate stale challenges internally. @howardtw

[2020-09-03 19:59] howardtw commented on #721
Is it fine for a server to sign/verify a challenge transaction with a key that's not specified in the TOML file? I wasn't sure whether it's a good practice to do something beyond what we say.

My concern to this is that it might be a bad user experience. Maybe this is acceptable given that a key rotation doesn't happen often. And as long as we are able to make everyone aware of this situation and

[2020-09-03 20:25] JakeUrban commented on #721
They should not _sign_ a new challenge with a key that is not specified in the TOML, but they should still _verify_ challenges that were signed with the old key for a given grace period, maybe even the same TTL on the challenge. This would mean that a challenge signed by the old `SIGNING_KEY` would be valid only until the challenge itself would normally expire.

Clients should have this retry func

[2020-09-03 20:26] JakeUrban commented on #721
@leighmcculloch @tomerweller feel free to weigh in here

[2020-09-12 03:05] howardtw commented on #721
@JakeUrban while I was updating the web auth server, I realized this is already what the [current](https://github.com/stellar/go/blob/master/exp/services/webauth/README.md#usage-serve) design is: `first key is used for signing, others used for verifying challenges`. My bad that I missed the fact that it only uses the first key to sign and verify, and the rest key(s) to verify.

I think we can clos

[2020-09-14 16:28] #721 closed

[2020-09-17 19:29] abuiles commented on #600
Closing since most of the active SDKs support Protocol 13.

[2020-09-17 19:29] #600 closed

[2020-09-17 19:31] abuiles commented on #575
This has been addressed by most of the active SDKs. We can close it now.

[2020-09-17 19:31] #575 closed

[2020-09-17 19:54] JakeUrban opened #727 "SEP-10: Support pooled accounts"

[2020-09-17 20:39] abuiles opened #728 "Protocol 14 SDK support [META]"

[2020-09-18 22:25] JakeUrban commented on #727
Discussion on where this fits in our priorities is ongoing. If `M-addresses` are implemented, the current PR is not needed. If M-addresses are not a focus in quasi-near future, we may want to move forward with the PR's approach.

[2020-09-22 21:55] leighmcculloch commented on #685
@JakeUrban I'm just caching up on this. I have a few questions and comments based on revision https://github.com/stellar/stellar-protocol/commit/4bd4b575e8a42c010d7580d3cc4534068943186b:

1. >Using the same algorithm allows signing servers to use the keypair specified by their stellar.toml's SIGNING_KEY to sign the JSON-encoded objects described here

   If we use the SIGNING_KEY variable we are o

[2020-09-22 22:04] tomerweller commented on #685
@JakeUrban why is the wallet posting two signed challenge transactions instead of just one signed by both the wallet and the wallet server?

[2020-09-22 22:07] leighmcculloch commented on #685
Why is the wallet server signing a challenge transaction? Are we referring to a SEP-10 challenge transaction? A SEP-10 transaction should only be signed by the key holder, the wallet.

[2020-09-22 22:27] JakeUrban commented on #685
Leigh, great to have you back.

The above solution is a rough draft I thought up on the heels of getting [SEP-34](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md) across the finish line. Once we realized there was a better way _and_ that there wasn't any pressing reason to keep moving forward for now, I wrote this up to come back to it later.

The solution was written

[2020-09-22 22:31] leighmcculloch commented on #685
Why does wallet attribution need to integrate with SEP-10? Wallet attribution can sit alongside SEP-10 and the token for wallet attribution can be passed as a header in requests to servers. In theory wallets can use wallet attribution in cases where authentication of a Stellar account is not needed, and so it can be used for requests prior to SEP-10, or in SEPs that never use SEP-10.

[2020-09-22 22:36] JakeUrban commented on #685
Have you read [SEP-34](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0034.md)? I'm curious what you think.

[2020-09-23 05:21] leighmcculloch commented on #685
Yup, I read SEP-34, that's what I was discussing above in https://github.com/stellar/stellar-protocol/issues/685#issuecomment-697003125. I understand from what you're saying that we've put SEP-34 to the side to explore a solution building wallet attribution into SEP-10. Am I understanding correct?

I think I should have reviewed https://github.com/stellar/stellar-protocol/issues/685#issuecomment-6

[2020-09-23 05:57] JakeUrban commented on #685
Thats correct. I'm happy to discuss SEP-34 but I think the per-transaction token idea was unnecessary, which is largely why we chose to try to piggyback on SEP-10. I do think you raise good points though.

Thats certainly true, but I think we need to continue to design with the users of the solution in mind. Thats why a SEP-10 adaptation was ideal, since authentication of a Stellar account is a ve

[2020-09-23 17:07] JakeUrban opened #731 "SEP-31: Add multi-country support per-asset"
If an anchor supports cash-out of assets in multiple countries, different KYC fields and rails are needed.

[2020-09-23 22:59] leighmcculloch commented on #685
I think SEP-34 could be session based and not per transaction as there's nothing inherent that requires it to be limited to a transaction. An appropriate expiration limit would probably suffice?

Back to @tomerweller's question ☝️, why do we need two separate transactions?

[2020-09-23 23:17] tomerweller commented on #685
I think that the motivation is backwards compatibility.

Current SEP10 server implementations will reject a challenge transaction that has an additional attribution signature.

[2020-09-24 00:11] JakeUrban commented on #685
Correct @tomerweller , two transactions is also a better design because they make independent claims, one about account ownership and the other about client attribution.

Regarding your comments on SEP-34 I agree, thats why we're talking about this SEP-10 based solution. Optionally we could alter SEP-34 if we wanted to leave SEP-10 alone.

[2020-09-25 06:03] LeviticusMB opened #732 "SEP-0009 organization images"
### What version are you using?

Updated: 2020-04-03
Version 1.2.0

### What did you do?

There are new organization KYC fields defined. Specifically, `organization.photo_incorporation_doc` and `organization.photo_proof_adress` should hold image resources.

### What did you expect to see?

I expected these to use the same data format as images in the natural person KYC fileds (i,e. `binary`).

###

[2020-09-25 07:28] LeviticusMB opened #733 "SEP-0024 fee types"
Updated: 2019-09-18
Version 1.0.0

Since the `fields` structure was removed from this SEP, there is no longer possible for the server to specify what kind of deposits are available. That means that the client has no way to know what to supply in the `type` QP.

Complex fees most certainly depends on what deposit method will be used, in addition to the amount Doesn't that make the whole `/fee` endp

[2020-09-29 15:51] JakeUrban opened #734 "SEP-12: Add Request Body Content-Type for DELETE"

[2020-09-29 19:51] JakeUrban commented on #716
bump

[2020-09-29 20:06] leighmcculloch commented on #716
Could we make it optionally authenticated, so if possible fees can be exposed regardless like SEP-24, then user specific fees can be served when authenticated? Will it be possible for the fee endpoint to maintain the same format and structure as SEP-24?

[2020-09-29 20:22] JakeUrban commented on #716
@leighmcculloch

Yes

Sure. Do we want to make authentication required per asset though? Otherwise I see a world where anchors return 400 HTTP codes from `/fee` with a message like `"not authenticated to request fees for asset"`.

Interesting idea. This would work for SEP-31 because the sending Stellar account always exists at this point in the flow, but it wouldn't work for SEP-24 because anchors

[2020-09-29 20:23] JakeUrban commented on #716
The fee endpoint already maintains the same structure.

[2020-09-29 20:23] JakeUrban commented on #716
I have a draft PR, can we discuss there?

[2020-09-30 21:29] #734 closed

[2020-10-10 00:22] yuriescl opened #743 "Feature Request: flexible asset min and max amounts"
Some Anchors might want to have different minimum and maximum deposit/withdrawal amounts for their assets, depending on the type of deposit/withdrawal.
For example, SEPA transfers might have a different deposit_min_amount than Cash deposits.

See https://github.com/stellar/django-polaris/issues/322

[2020-10-14 20:58] #668 closed

[2020-10-15 21:04] JakeUrban opened #747 "SEP-24: Claimable Balance Op Support"
Currently, when an anchor creates an account for a user, the anchor must wait for the user to add a trustline before making the SEP-24 deposit.

With the new protocol's ClaimableBalance functionality, anchors no longer have to wait when the account doesn't have a trustline. Instead, it can make the payment using the ClaimableBalance functionality and the user can collect the funds at any time.

[2020-10-15 21:06] JakeUrban commented on #747
These changes are also relevant to SEP-6

[2020-10-16 18:38] Zagan202 commented on #747
# SEP-0024 Changes for Claimable Balance Op Support

There should be 2 optional paths for anchors and wallets regarding claimableBalances

## Path 1 claimableBalances Not implemented

### [Stellar account does not exist](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#stellar-account-does-not-exist)

### [Stellar account doesn't trust asset](https://github.com/stellar

[2020-10-16 18:45] JakeUrban commented on #747
@leighmcculloch @tomerweller Can you review the above flow and suggested changes? I've worked with @Zagan202 to produce this.

[2020-10-16 18:52] JakeUrban commented on #747
@Zagan202 I think the client's flow would be a bit simpler than what you outlined in the last section. Also, your approach of using the last modified ledger doesn't work because there could be multiple claimable balance operations made in a ledger.

1. Make a request to Horizon for `/claimable_balances?claimant=<users stellar account>`
2. Iterate over the list and save the new claimable balances.

[2020-10-16 19:15] Zagan202 commented on #747
Yeah that makes sense and is a much less complex.

Exactly. The client will call `GET /transaction(s)` endpoints.
` and use the `claimable_balance_id`s received when they call Horizon's `GET /claimable_balances/:claimable_balance_id`

[2020-10-16 20:41] Zagan202 commented on #747
Currently this [code change to Polaris](https://github.com/stellar/django-polaris/pull/341) does support claimableBalances for SEP-0024.
However the predicate set by default is `UNCONDITIONAL` and the `GET /Transaction(s)` endpoints currently do not have the `claimable_balance_id` field in the response.

[2020-10-16 20:49] JakeUrban commented on #747
@Zagan202 I'd link the PR directly, either by doing this in the PR description:
[code]

Or linking it via the UI on the side here.

[2020-10-16 21:34] #624 closed

[2020-10-16 21:35] MonsieurNicolas opened #748 "meta: change template to make it easier to understand what a CAP does"
Here are some ideas from @ire-and-curses to get started:

 *  Motivation in CAPs is currently very minimal. It would be great to describe explicit use cases (aka worked examples). They are motivational and also aid understanding and help identify inadequacies in the proposal.
 * An FAQ for the CAP is a huge help to understanding. Particularly around explanations of specific behaviour (e.g. "Why do

[2020-10-16 23:17] tomerweller opened #749 "SEP31: guide sender/receiver implementations"
SEP31 defines an interoperability standard between sending anchors and receiving anchors. The receiver needs to implement a set of endpoints (=server) and the sender consumes these endpoint (=client).

Should we try to refactor the SEP in a way that helps senders and receivers understand what they need to implement? For example, SEP24 has a [Basic Wallet Implementation](https://github.com/stellar/

[2020-10-16 23:23] JakeUrban commented on #749
I'm all for making SEPs more readable and focused on use case, and SEP-31 definitely focuses more on the receiver, leaving the client to infer whats required of them.

[2020-10-19 17:16] tomerweller commented on #747
This looks good. We need an introduction roadmap. If anchors adopt this before tooling and ecosystem wallets then we'll see a breakage.

[2020-10-19 21:18] JakeUrban commented on #747
These are the steps we need to take in order:

- Draft, discuss, and merge the SEP-24 & SEP-6 ClaimableBalance Support PR's
- Implement the claimable balance support in our demo client/wallet
    - I think we should begin deprecating the original demo client and only add new features to the new one
- Reach out to ecosystem wallets announcing the SEP changes and their action items
- Monitor progres

[2020-10-23 17:48] Zagan202 opened #752 "Reach out to ecosystem wallets announcing the SEP changes for claimable balance support"
Reach out to ecosystem wallets announcing the SEP changes and their action items

[2020-10-23 18:12] Zagan202 opened #753 "Announce SEP24 claimable balance changes to Anchors"
Announce SEP changes and Wallet support for those changes to Anchors.
- Polaris as an anchor reference
- stellar-demo-wallet as a wallet reference

[2020-10-26 22:36] JakeUrban commented on #685
This has been on the backburner for awhile but we need to start moving since a client has requested a solution.

[2020-10-27 05:24] leighmcculloch commented on #685
I think there's another way to address this issue in a single SEP-10 transaction. In SEP-10 v2.1.0 we started to lay the groundwork for supporting additional manage data operations where each manage data operation is a claim:
- A key-value pair providing some value to some predefined registry/list of keys
- A source account who is the party proving that claim is true

If a client states in the GET

[2020-10-27 17:22] tomerweller opened #756 "SEP24: deposit trustline improvements / clarifications"
- If account doesn't exist the anchor should create it with sufficient XLM to cover the base reserve of trustline
- if account exists but doesn't have sufficient XLM to cover the base reserve of the trustline, the anchor should make a payment to cover that
- encourage anchors to notify the user (email/text/etc) when their accounts are in a pending trust status
- ensure the `/transaction` endpoint

[2020-10-27 17:55] #749 closed

[2020-10-27 18:29] JakeUrban commented on #685
Thanks Leigh, I agree with the v2.1 changes, we can use a single challenge transaction.

I want to clarify something: SEP-10 _is_ a session-based token, not a transaction-based token. So any additional session-based token is not really needed, even if the design may have a better separation of concerns. I think we also need to take into account our ecosystem participants. They'll likely prefer an

[2020-10-27 21:15] leighmcculloch commented on #685
👍  I think this sounds good. Let's see what this look like as a modification to SEP-10.

---

Have the backend return the signature alone, rather than the entire challenge. The client can attach the signature and it means the client does not need to revalidate the transaction. We use this pattern in SEP-30.

[2020-10-27 22:15] JakeUrban commented on #685
Great! I''ll begin drafting up a PR

[2020-10-27 23:08] leighmcculloch commented on #74
This issue appears to have no activity for a couple years so I'm closing it. Please reopen it or a new issue for additional discussion.

[2020-10-27 23:08] #74 closed

[2020-10-29 02:12] JakeUrban commented on #727
The PR is still open but the work is done for now. The next step is to build out the functionality in an SDK used by a pilot organization, and have them test out the feature before making the change official.

[2020-10-29 22:34] JakeUrban commented on #685
@leighmcculloch

I was planning to leave the interaction between the wallet server and wallet client out of the scope of this change. I think thats the way to go since any given Wallet organization likely already has an internal mechanism for secure client-server interaction.

Another way to think about it is that SEPs are all about interoperability, but there are no interoperability concerns here

[2020-10-29 22:35] JakeUrban commented on #685
To add to that ^, the client attribution changes to SEP-10 will only document the mechanism for client and SEP-10 server.

[2020-10-30 01:19] leighmcculloch commented on #685
Great idea 👍

[2020-11-17 19:58] Zagan202 commented on #747
I had some questions about the `Special Cases` flows in SEP 24 and how it can be represented as a POC using `Stellar-Demo-Wallet` and `Polaris`

A few points to keep in mind

1. Do we agree with following flows?
2. Are there any flows I am not considering?
3. There are comments/questions about features that are or are not represented in either `Stellar-Demo-Wallet` and/or `Polaris`

**Stellar acco

[2020-11-17 20:40] leighmcculloch commented on #747
Apologies, I missed being mentioned above and just discovered this.

In response to https://github.com/stellar/stellar-protocol/issues/747#issuecomment-710398419:

I think an anchor implementing a use of claimable balances should update the `GET /transaction` endpoint and we shouldn't specify ways around that. I would have thought the work and effort to implement claimable balances will probably b

[2020-11-17 20:51] JakeUrban commented on #747
Any anchor that adds support for claimable balances should be able to update their transaction endpoint as well.

[2020-11-17 20:56] JakeUrban commented on #747
@Zagan202 if the goal is to be able to test every possible scenario, particularly the special cases, we need to completely re-think the UX. The stellar-demo-wallet would have to become more of a technical debug tool that should be used by engineers testing particular cases. Right now, the idea behind the demo wallet is a hybrid of 1. act like a wallet & 2. allow people to test their anchors.

#1 g

[2020-11-17 20:59] JakeUrban commented on #747
For example, if we want to allow anchors to test the `The account does not exist` case, then we need to allow users not to create or load an account, and instead just specify a public key without account creation.

If we want to test the `The account doesn't have a trustline` case, then the UI needs to allow people to add assets to their "wallet" without yet having a trustline.

[2020-11-17 21:01] JakeUrban commented on #747
The end result would be an application that allows for more fine-grained client-side control, but it wouldn't act like a wallet because it would provide too many different ways of doing the same thing.

[2020-11-17 21:02] Zagan202 commented on #747
@leighmcculloch
The comment you referenced is a bit outdated from the conversations we've had since I posted it.?
I'm drafting out the changes to SEP24 here https://github.com/stellar/stellar-protocol/pull/757
This will more accurately guide `Anchors` and `Wallets` on what necessary changes need to made in order to support claimable balances properly.

[2020-11-17 21:09] Zagan202 commented on #747
Thats kinda the root of my concerns, currently `Stellar-Demo-Wallet` leaning more towards the `act like a wallet` path.
We might have to implement the ability to have it seamlessly change behavior states to be a usable resource for `Anchor` devs to use to debug and test weird special case flows.

[2020-11-17 21:14] Zagan202 commented on #747
How does one "specify a secret key without account creation."?

That feature is easy to implement but we should mock up how this would work.
Like we could have "ASSETS _supported_ by the wallet" listed on the UI to allow  a use to enact the `Stellar account doesn't trust asset` special case flow.

This is making a strong argument for the aforementioned state change debugging feature.

[2020-11-17 21:16] Zagan202 commented on #747
I don't entirely agree.
The default use case would "act like a wallet" but the more fine grained control behaviors could be flags that changes the application's behavior to fit these special edge cases.

What do you think?

[2020-11-17 21:38] JakeUrban commented on #747
You're saying we can have both an application that acts and looks like a wallet but can be configured to test special cases. Maybe thats true, but its difficult from a design perspective. We may need to bring a frontend/design engineer to spec out what the interface would look like. @tomerweller any updates on that?

[2020-11-17 21:39] JakeUrban commented on #747
You just ask for a secret key like we do today on the "Load Account" button, but you don't try to fund the account via friendbot. The result is that the wallet will use the account in API calls but the anchor will (or should) realize that the account doesn't exist yet and will fund it. This approach will be much more common when we build out mainnet support.

[2020-11-17 22:04] Zagan202 commented on #747
I'm still a bit lost.
If they provide the secret key like we do when the user hits "Load Account" I was under the assumption that secret key is always associated with a stellar account on the DEX (mainnet or testnet). So how would an `Anchor` _"realize that the account doesn't exist yet"_?

[2020-11-17 22:12] JakeUrban commented on #747
Go to the Create Account tab on https://laboratory.stellar.org/, and you'll see two steps for account creation: generating a key-pair, and then funding an account at that public key address. Key pairs are just cryptographic keys, just like any other asymmetrical cryptographic key system. The account on Stellar isn't created until another account uses the "Create Account" op to fund an account at t

[2020-11-18 21:58] howardtw opened #771 "SEP-24: improve special cases handling"
**Why**

In the [section](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#special-cases) of handling special cases, what we recommend for the two cases are inconsistent. In [stellar account does not exist](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#stellar-account-does-not-exist), we recommend anchors to convert part of the deposit i

[2020-11-23 22:37] howardtw opened #773 "Have a formal definition of sandwich transactions"
**Why**

We've started to reference to sandwich transactions since the introduction of CAP-33 and CAP-18. We talked about the ["sandwich approach"](https://github.com/stellar/stellar-protocol/blob/d750a41be602ff2b79627c7cd3c3cd1628435ed4/core/cap-0033.md#sponsorship-logic-is-off-chain) in CAP-33, and we also talked about the [authorization sandwich](https://github.com/stellar/new-docs/blob/778d15c

[2020-11-23 22:50] howardtw commented on #773
Alternatively, if we can make the `approval_criteria` so that people can specify the transaction composition as one of the criteria, it would also work.

[2020-11-23 23:49] JakeUrban commented on #773
I didn't realize sandwich transactions were used in other protocols.

My thinking was that SEP-8 doesn't make any attempt to define what _kind_ of transactions the client should submit to the approval server, so its left to the organization implementing SEP-8 to communicate this to their clients. This is bad.

Instead, organizations implementing SEP-8 should be able to reference the SEP to their c

[2020-11-24 07:50] shredding commented on #773
I always read `approval_criteria` as being a more or less legal definition (e.g. we use `Only accounts that have passed KYC/AML at DSQ are allowed to trade this asset.`, not mentioning transaction composition).

We are as well not mentioning sandwich requirements. If the clients submits them, fine, if not we add them and add a revised flag.

Sample ([here's the result](https://laboratory.stellar.o

[2020-11-24 18:52] JakeUrban commented on #773
@howardtw this is what I was confused about originally, why can't Securrency do this:

Does Securrency understand they can do this? Why do they feel the need to describe sandwich transactions in their TOML?

[2020-11-24 19:29] JakeUrban commented on #743
This is related to #716 , which is focused on having different fees per type. These two issues will likely be solved at the same time.

[2020-11-24 20:50] howardtw commented on #773
Are we implicitly saying that clients should always:
1. submit the transaction containing only the middle operations of a sandwich
2. get a `revised` transaction, which is a sandwich transaction, from the approval server
3. sign and submit the sandwich transaction to the approval server again
4. get the sandwich transaction signed by the approval server
5. submit the transaction to Stellar

This p

[2020-11-24 21:10] JakeUrban commented on #773
I agree the double round trip is not ideal, and organizations running SEP-8 servers are incentivized to educate clients about sandwich transactions so they don't have to do this. I think a combination of educating our partner about the `revised` status AND updating the SEP/our docs will be sufficient. Our partner will be able to refer clients to the technical specification instead of having to rel

[2020-11-24 21:11] shredding commented on #773
What is the benefit of this? We give back the signed transaction in step 2 and go for it (we add a time bound, but that's not even necessary). If we'd be happy with the transaction in step 4, why not already in step 2?

[2020-11-24 21:31] howardtw commented on #773
Thanks! That's good to know. And I agree it's an easy optimization to make. My thought on the approval server in general is that it should be the entity that "approves" a transaction so that the transaction will become submittable. Dismissing a client-supplied transaction and giving the client a self-made transaction that's pre-approved seems a bit aggressive and assertive to me. That's why I feel

[2020-11-24 21:35] shredding commented on #773
It's still a suggestion; it's up to the client to co-sign and broadcast the transaction.

Generally speaking, our SEP-8 implementation is quite complex; e.g. it supports stellar channels and does a lot of checks on the account level. So in general, the job of the approval servers (at least ours) tends to not be to validate transaction composition. That's merely a byproduct. It's approving the inte

[2020-11-24 21:49] howardtw commented on #773
I agree with you that returning a signed sandwich transaction that wraps the original intent/operations is a way for approval servers (at least yours) to say that it approves the intent, and it's up to the client to co-sign it.

I don't feel strongly about whether the approval server should sign the sandwich transaction or not in step 2. My goal is to make SEP-8 more useful, up-to-date, and more i

[2020-11-30 20:53] leighmcculloch commented on #773
@howardtw In regards to if the server should sign the revised transaction, SEP-8 is explicit about this and states the transaction should be signed so that the client can submit it:
https://github.com/stellar/stellar-protocol/blob/c6c006e05b7ac85c4317e6f01b4fac1eb08a308c/ecosystem/sep-0008.md#L38

---

Speaking to the issue title and description, I think it might be helpful if there is developer d

[2020-12-02 22:37] howardtw commented on #773
Based on the conversations in this PR, looks like we all agree on starting with a definition for a sandwich transaction in our developer documentations. And it should improve the words around both CAP-18 and CAP-33.

@JakeUrban is it something that you can take on?

[2020-12-03 16:09] JakeUrban opened #775 "SEP-6: match SEP-24's kyc_verified functionality"
Match the functionality provided in the [SEP-24 PR](https://github.com/stellar/stellar-protocol/pull/739)

[2020-12-07 09:23] #198 closed

[2020-12-07 19:38] jonjove opened #776 "Minor Operation Validation Improvements"
Upon reviewing certain aspects of the protocol, I noticed that

1. It is valid to submit change trust for an asset issued by the source account (but we fail during apply)
2. It is valid to submit allow trust with trustor as the source account (but we fail during apply)

Both of these meet our typical guidelines for being validation checks rather than application checks.

[2020-12-10 20:13] JakeUrban opened #780 "SEP-6: Update the protocol to work well with the upgraded SEP-12"
SEP-12 was originally built exclusively for SEP-6. Now that SEP-31 uses SEP-12, and SEP-12 was upgraded significantly to support that use case, we should update SEP-6 to use the new SEP-12 functionality in a non-breaking fashion.

Particularly, SEP-12 now supports different customer types. Anchors can specify different KYC requirements for different customer types.

Additionally, SEP-6 and SEP-24

[2020-12-10 20:14] JakeUrban commented on #780
CC @leighmcculloch @Zagan202

[2020-12-10 20:14] JakeUrban commented on #780
CC @morleyzhi @nickgilbert

[2020-12-14 19:11] JakeUrban opened #785 "SEP-6: Remove interactive portions"
SEP-6 was originally created to support both interactive and non-interactive flows for deposits and withdrawals. SEP-24 was then created and offered an interactive-only protocol, and the interactive portions in SEP-6 were deprecated.

At this point, there is no reason to keep the interactive portions in SEP-6 at all. Removing these sections will make the protocol more focused and reduce potential

[2020-12-14 23:36] JakeUrban commented on #727
Putting this in the backlog until we have a wallet/anchor pair to pilot the functionality

[2020-12-15 20:35] #558 closed

[2020-12-15 23:04] #785 closed

[2020-12-15 23:20] JakeUrban opened #793 "SEP-26: Reject SEP-26 because SEP-6 has become de-facto non-interactive standard"
SEP-26 was originally a replacement for SEP-6 back when we had SEP-6 deprecated. Now that SEP-6 is back in active development, I don't see any reason to keep SEP-26.

[2020-12-15 23:26] JakeUrban commented on #665
Closing due to inactivity. SEP-31 supports passing a custom field as demonstrated above

[2020-12-15 23:26] #665 closed

[2020-12-15 23:29] JakeUrban commented on #458
#726 will fix this problem. In the far future when multiplexed accounts are supported in Horizon supporting them within SEP-10 will be trivial.

[2020-12-15 23:29] #458 closed

[2020-12-16 02:22] Zagan202 opened #796 "SEP-006 Claimable Balance Op Support"
Add feature support for new protocol's ClaimableBalance functionality

If an account doesnt have an established trustline for an asset deposits can be completed using the ClaimableBalance op

Related: https://github.com/stellar/stellar-protocol/issues/747

[2020-12-16 17:28] JakeUrban commented on #771
Hi @howardtw I'm starting to work on this now. I'm not sure which anchors sponsor account creation, but Polaris [creates the account](https://github.com/stellar/django-polaris/blob/master/polaris/polaris/management/commands/poll_pending_deposits.py#L135-L167) with a 2.01XLM balance funded by the anchor's distribution account (AKA not part of the deposit amount).

Let me respond to each of your poi

[2020-12-19 01:04] leighmcculloch opened #801 "exp/services/recoverysigner: remove urlencoded form decoding from requests"
### What
Remove urlencoded form decoding from requests.

### Why
It is being removed from SEP-30: https://github.com/stellar/stellar-protocol/pull/800.

[2020-12-21 10:19] gaclaudiu opened #802 "Feature Request: More than one SEP12 type support in SEP31 info endpoint"
### What problem does your feature solve?
More SEP12 types  to cover the use case when a sender or receiver is a :
* counter party
* individual (person) client
* entity (organization) client

### What would you like to see?
I would like to see SEP31 info point configuration per SEP12 type , or if a config can be reused then the sender_sep12_type or receiver_sep12_type to allow an array.

For our u

[2020-12-21 10:23] gaclaudiu opened #803 "Feature Request: SEP12 PUT - add type field(the type of action the customer is being KYCd for)"
### What problem does your feature solve?
Server will know which fields are sent when doing a put for SEP12 customer.
Right now there is no way to know for what type are the fields for :
* Counter Party
* individual (person) client
* or entity (organization) client

### What would you like to see?
Add SEP type field in the SEP12 /PUT model .

### What alternatives are there?

[2021-01-01 23:06] Bocoi5011 opened #806 "Feature Request:"
### What problem does your feature solve?

### What would you like to see?

### What alternatives are there?

[2021-01-04 14:49] #806 closed

[2021-01-04 16:11] howardtw commented on #771
Sounds good. Makes sense to keep it as it is if there's no obvious reason to change it.

Totally. In this case, accounts equipped with the trustline to the receiving asset should be able to receive the payment without additional funding.

By saying ensuring, do you mean the anchor should just wait or the anchor should sponsor? My point is that if we ask anchors to cover the reserves (account & tru

[2021-01-04 23:24] JakeUrban commented on #802
Hi @gaclaudiu, I agree we need to be able to specify multiple values for both sender & receiver:
[code]

Regarding "SEP31 info point configuration per SEP12 type", its a bit more complicated. Some anchors would like to have different info configurations per transaction type (SEPA, SWIFT, etc.) or per-country of operation, see #731, #716, #743. So more discussion on this is needed.

Can you give mo

[2021-01-04 23:30] JakeUrban commented on #803
I think its clear which type is being provided based on the fields right? If fields from [the person list](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0009.md#natural-person-kyc-fields) are used then its an individual, and if the fields are from [the organization list](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0009.md#organization-kyc-fields) i

[2021-01-05 15:33] howardtw opened #807 "CAP-36: incomplete sentence"
**What**

We have an incomplete sentence [here](https://github.com/stellar/stellar-protocol/blob/a60d936/core/cap-0036.md#semantics):
[code]

[2021-01-05 18:19] #771 closed

[2021-01-05 21:39] JakeUrban opened #809 "SEP-6: Mirror account creation sponsorship policy from SEP-24"
SEP-24 was recently updated via #798, and SEP-6 should use the same language

[2021-01-06 19:29] tomerweller opened #812 "SEP-0012: property verification"
Some KYC properties such as phone number, email address and even home address can be verified using a verification code.

Verifying phone numbers using text messages is especially popular.

SEP12 currently doesn't provide a mechanism to convey if a property is verified/unverified.

More so, there's no clear way for a wallet to initiate verification of a property.

This issue is created to facilita

[2021-01-06 19:33] morleyzhi commented on #812
This is how we've modeled phone validation in Vibrant:

- PUTting mobile_number alone will send a code + return an error (indicating that a code was sent)
- The anchor will only store a mobile_number when it's PUT with a valid mobile_number_verify
- Vibrant would PUT:/customer a mobile_number
- The anchor would send a code to the phone
- Vibrant would show a code input
- The user would enter the c

[2021-01-06 23:54] JakeUrban commented on #803
Would adding a `customer_type` field whose value must match one of the `sender_sep12_type` or `receiver_sep12_type` values work?

[2021-01-07 00:13] JakeUrban commented on #812
My issue with the current approach is the lack of separation between KYC information and data used to verify that information.

What I suggest is a new endpoint, `PUT /customer/verification` that accepts forms of verification the following fields:
[code]
Email address verification is probably easier to do the typical way -- the service sends a confirmation link that the user has to click, but you

[2021-01-07 00:49] JakeUrban commented on #812
Actually, to match the format used in `PUT /customer` I would remove the `fields` attribute:
[code]

[2021-01-07 19:17] JakeUrban commented on #756
@tomerweller SEP-24 already includes the first two points you mentioned in the [Special Cases](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0024.md#special-cases) section.

We don't do the third point, we can add that.

Regarding the last point about exposing `/transaction` without a JWT, the `on_change_callback` parameter was added for exactly this purpose: getting update

[2021-01-07 20:33] #809 closed

[2021-01-07 23:38] tomerweller commented on #812
I'm with @JakeUrban on separating this out. Overloading the customer PUT can be somewhat confusing.

In both of these suggestions there's a pre-requisite that the anchor knows that a field requires verification - should the server communicate this to the wallet? If so, how?

[2021-01-08 00:31] JakeUrban commented on #812
Good point @tomerweller, I have a solution

Lets say a wallet just submitted a customer's mobile phone number with a `PUT /customer` request. The server's response currently just includes an `id` or `error` attribute. Instead, it could include data to indicate that some of the fields passed need verification codes:
[code]
The beautiful thing about this design is that server's can define their own

[2021-01-08 02:13] gurub109 commented on #803
That should work @JakeUrban

[2021-01-08 18:51] tomerweller commented on #812
Interesting. Do we really need to convey information about the verification syntax in the response? Will a wallet ever make use of that? seems like verification code can always be generalized as a string

I'd like to discuss another option, which is to extend the `fields` object for the customer info GET request, both in shape and in scope. We currently use `fields` only for `NEEDS_INFO` responses

[2021-01-08 21:03] JakeUrban commented on #812
I don't think the changes you suggest introduce any backwards incompatibility. `fields` is mentioned to be required for `NEEDS_INFO` responses but it doesn't disallow it to be present in other `status` values.

So to summarize, you're suggesting the following changes:
- Allow/recommend the use of `fields` for any `status` value (instead of just `NEEDS_INFO`
- Add a `status` attribute to each attri

[2021-01-11 19:49] leighmcculloch commented on #801
Closed by #800.

[2021-01-12 20:31] leighmcculloch commented on #812
I like the idea of the verification methods being explicit as in your example with the `PUT /customer/verification` rather than them being arbitrary. There's a limited number of cases probably, we may as well define those attributes explicitly.

[2021-01-13 22:54] leighmcculloch commented on #807
Thanks for picking up on this. I expect CAP-36 will be rejected on the basis that CAP-35 now contains clawback of claimable balances. I'm going to close this because it's not worth going back and fixing up the CAP, but I can revive this if something happens CAP-36 comes back to life.

[2021-01-13 22:54] #807 closed

[2021-01-13 23:35] leighmcculloch opened #822 "SEP-0012: Customer ID and account information included in requests is duplicate"
SEP-12 defines several endpoints.

All the endpoints require authentication with a SEP-10 server. Authentication with a SEP-10 server proves to a server that a customer is a specific customer, and indicates the customers account, memo, and memo type.

All the endpoints also require as parameters either a customer `id`, or an `account` and `memo` and `memo_type`.

It isn't clear to me why we duplic

[2021-01-13 23:44] leighmcculloch opened #823 "SEP-0008: Add info about requiring support for cross-domain requests"
CORS requests should be supported by the endpoint so that web apps on other domains can hit them cross-domain.
See language in [SEP-10](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0010.md#cross-origin-headers) that may be used.

[2021-01-14 00:09] JakeUrban commented on #822
I agree we could remove the `account` parameter from our SEP-12 (and for that matter, SEP-6, 24, 31 etc.) since that information is included in the JWT token, however thats a breaking change. Are you interested in making the change regardless?

Polaris currently checks for equality between the token's `sub` value and the `account` parameter.

Right now, SEP-10 authenticates an `account`, but not a

[2021-01-16 00:18] leighmcculloch commented on #822
Is it possible to use SEP-12 to provide information about another account? In that case it makes sense, but I guess could be optional when providing details for the authenticated account.

[2021-01-16 00:28] leighmcculloch opened #832 "SEP-0012: Format of PUT with SEP-9 fields is not defined"
[SEP-12] does not specify, as far as I can tell, how to format the [SEP-9] fields in the Customer PUT (`PUT [KYC_SERVER || TRANSFER_SERVER]/customer`) request.

This can probably be guessed accurately for simple SEP-9 fields such as `email_address`:

[code]

But it is harder to guess accurately for complex SEP-9 fields that have sub-fields, such as `organization.name`.

For example, should the fie

[2021-01-16 00:30] #747 closed

[2021-01-16 00:32] JakeUrban commented on #822
@leighmcculloch No, it is not possible, the API should only expose information for the account that is authenticated. If the stellar account is shared between many users, then the `memo` must uniquely identify a user.

[2021-01-16 00:35] leighmcculloch commented on #822
What about counter-parties, as is being discussed here https://github.com/stellar/stellar-protocol/issues/803?

[2021-01-16 19:42] JakeUrban commented on #822
In a SEP-31 flow, the sending anchor registers both the sender and receiver (a.k.a the counter party) with the receiving anchor, so in that case the sending customer and receiving customer both share the sending anchor's Stellar account and are distinguished by a `memo`.

Note that this means a receiving customer would have a `/customer` record with the receiving anchor _for every sender to that r

[2021-01-19 22:19] accordeiro commented on #832
I'm not sure what is most common implementation, but I've always interpreted this spec as using nested fields, as in:

[code]

I think this is the approach that leads to less confusion to whomever is writing the parsing code (e.g. a server-side SEP-12 implementation), since some languages (like JavaScript) use `.`s to traverse the JSON structure, so you'd actually have to work around the syntax to

[2021-01-19 22:37] leighmcculloch commented on #832
@istrau2 @marcinx @JakeUrban I see you all have committed to [SEP-12](https://stellar.org/protocol/sep-12) in the past. Do you know the answer to how sub-fields should be rendered in the Customer PUT request?

[2021-01-19 23:47] JakeUrban commented on #832
Polaris expects SEP-9 fields used to match the way they're defined in the SEP: as strings. See the way it extracts SEP-9 arguments from a dictionary: https://github.com/stellar/django-polaris/blob/1b1ae8c755fb41bd645f9bbec51e1408135826ad/polaris/polaris/utils.py#L336-L396

It does this because `multipart/form-data` and `application/x-www-form-urlencoded` do not support nested data structures, only

[2021-01-20 00:21] leighmcculloch commented on #832
@JakeUrban Does Polaris use the simple string approach for JSON requests also, or only for the other content types?

[2021-01-20 00:44] JakeUrban commented on #832
@leighmcculloch It uses the simple string approach for all content types including JSON. I could update it to support the nested structures for JSON, but to be honest I did not consider it when implementing. There was no indication int the SEP that nested structures were supported at all.

[2021-01-20 05:33] leighmcculloch commented on #832
@gaclaudiu You opened some issues regarding SEP-12 recently. How have you implemented SEP-9 fields with sub-fields with SEP-12? Are you using JSON? Is your JSON usage hierarchical or flat?

[2021-01-20 05:52] JakeUrban commented on #832
@gurub109

[2021-01-21 20:40] jonjove opened #843 "Update CAP-0029 Proposal Using Current Template"

[2021-01-21 22:04] JakeUrban commented on #756
closing this -- please reopen if you believe issues mentioned have not been resolved

[2021-01-21 22:04] #756 closed

[2021-01-21 23:25] #732 closed

[2021-01-22 19:30] JakeUrban commented on #793
This needs to stay open: SEP-26 is still in a draft state and should be changed to rejected

[2021-01-22 19:31] JakeUrban commented on #780
this isn't a stale issue, there are several related PR's outstanding related to it

[2021-01-22 19:49] JakeUrban commented on #743
Not stale, its just a part of a larger discussion that we haven't had time think about adequately

[2021-01-22 19:50] JakeUrban commented on #733
Not stale, just a part of a problem spanning multiple SEPs and scenarios. A comprehensive solution needs to be developed and we haven't had time to give it the thought it deserves.

[2021-01-22 19:51] JakeUrban commented on #731
Not stale, just a part of a larger discussion we haven't had time to take on

[2021-01-22 19:52] JakeUrban commented on #727
Not stale, just waiting until this is actually piloted. Polaris will be implementing this functionality to make sure we're not missing anything in our design

[2021-01-22 19:54] JakeUrban commented on #716
Not stale, just related to a larger problem we haven't addressed

[2021-01-22 19:55] JakeUrban commented on #685
@leighmcculloch can you take a look at the outstanding PR? I think its ready to be piloted in Polaris and we can merge it if we believe the design is sufficient once it's been tested

[2021-01-22 19:57] JakeUrban commented on #614
Not stale, just a part of a larger issue that we're planning to address

[2021-01-22 20:54] MonsieurNicolas commented on #776
Protocol 16 candidate? @jonjove

[2021-01-22 20:57] MonsieurNicolas commented on #724
@jonjove as we collect ideas on order book changes

[2021-01-22 21:00] MonsieurNicolas commented on #695
Was chatting today about what's next on "effects" with @bartekn ; being able to trace an offer all the way back to its creation would be nice

[2021-01-22 21:07] MonsieurNicolas commented on #621
@jonjove not sure if we care about this

[2021-01-22 21:22] MonsieurNicolas commented on #290
Might want to think about this in the context of transactions gated on balance entries, which allows for relative time locks as well.

[2021-01-22 21:24] MonsieurNicolas commented on #288
We went with `BalanceEntry` instead

[2021-01-22 21:24] #288 closed

[2021-01-22 21:26] MonsieurNicolas commented on #292
I'm keeping this one around. We're not getting much feedback on the complexity of smart contracts that people use

[2021-01-22 21:28] ire-and-curses commented on #748
Is this something to discuss in next protocol meeting?

[2021-01-22 21:31] MonsieurNicolas commented on #293
Deterministic behavior of chains of transactions despite fee/reserve changes. This would be needed especially if we want to support base reserve increase

[2021-01-22 21:36] MonsieurNicolas commented on #748
couple things:
* I would like to get specific feedback (positive and negative) on the existing CAP process and template before making even more changes.
* the protocol meeting is to discuss the adoption of a proposal, and this is issue seems to be in a state closer to "needs more discussion" and is not even close to a concrete proposal

[2021-01-22 21:39] leighmcculloch commented on #748
The ideas in the PR description sound well formed and could be presented individually as meta PRs that then get discussed on the mailing list. I don't think this needs realtime discussion at this point.

[2021-01-25 15:13] jonjove commented on #776
Definitely. Let's make sure this gets fixed @sisuresh. @MonsieurNicolas do you want a CAP for this? It seems so minor that it might not be necessary. Maybe @leighmcculloch or @tomerweller have opinions about this.

[2021-01-25 15:18] jonjove commented on #621
I still care about this, mostly from the perspective that we should not be applying operations after the first failure (it's purely wasted computation). To fix that problem, we will need to sort out this issue somehow.

[2021-01-25 15:26] leighmcculloch commented on #776
I think this is very low priority. I don't know of any meaningful problems this has caused.

[2021-01-25 15:28] jonjove commented on #776
I meant opinions about the need for a CAP. The fix is trivial, we just missed the deadline for it in protocol 15. We try to do some bug-fixes in every release to make the protocol easier to reason about.

[2021-01-25 19:59] ire-and-curses commented on #728
Protocol 14 support was completed in all major SDKs. Closing.

[2021-01-25 19:59] #728 closed

[2021-01-25 22:01] tomerweller commented on #776
Yes on the change. No on the CAP. I can't imagine a scenario in which people are relying on when exactly these edge cases fail.

[2021-01-25 22:20] #823 closed

[2021-01-27 03:16] leighmcculloch commented on #88
@MonsieurNicolas @jedmccaleb I think this issue might be addressed, at least in part, by the proposal to [support HTLCs in claimable balances](https://groups.google.com/g/stellar-dev/c/MBH4zvzbrKY). Claimable balances operate in some ways, albeit more limited, like a UTXO, and by extending predicates we can use them for HTLCs that finalize in a single destination account without pre-authorized tra

[2021-01-28 18:04] MonsieurNicolas commented on #293
no @leighmcculloch : this is tracking something different. If we were to raise the base reserve, we would potentially invalidate existing pre-signed transactions.

You can't wrap an existing transaction with a "sponsorship" construct similar to how you can wrap an existing transaction to pay for fees.
Also, unlike fees, a presigned transaction can get submitted to the network and would fail, break

[2021-01-28 21:33] jbash opened #853 "SEP-0024: Requires "https" but does not specify trust anchors"
### What version are you using?

1.2.2 of 2021-01-19 at commit fbac049 , master branch as of 2021-01-28.

### What did you do?

Read the document

### What did you expect to see?

A complete and unambiguous description of which trust anchors are acceptable for authenticating TLS endpoints for retrieving federation information and similar metadata (and, equivalently, of which trust anchors I as a s

[2021-01-29 02:45] #803 closed

[2021-01-29 21:50] leighmcculloch commented on #853
The use of HTTPS, certificate authority verification, and its surrounding technologies are best practices that make up one of many parts of building secure products for on line consumption or that consume online services. The SEP is focused on interoperability and for the most part not defining the exact certificate authorities does not impact interoperability because many applications use system

[2021-01-29 22:57] jbash commented on #853
Certificate authorities do in fact affect interoperability, because if the server chooses to get a certificate from an authority that the client doesn't trust, then the two will not interoperate. Since the goal here is presumably to have public services that may get connections from any client, there has to be some specification of which certificate authorities are to be trusted. The same applies

[2021-02-02 09:07] gaclaudiu commented on #802
Hi @JakeUrban ,
"SEP31 info point configuration per SEP12 type"  :
Use case example :
You can pass for receiver a client (person or organization ) or a counter party.

For a client we need only his finClusive account ID to put the money in .

For a counter party we need it's full bank details to do an ACH to it account .

Maybe info is not the right place, but I am thinking that this should be som

[2021-02-02 21:18] #802 closed

[2021-02-03 21:31] JakeUrban opened #861 "SEP-6: Add transaction ID's to /deposit and /withdraw success responses"
Right now, the client must figure out which object returned from `GET /transactions` represents a particular deposit or withdraw request  by matching the it's listed `memo` to the `memo` request parameter for deposit or `memo` response attribute for withdraw. This is not ideal and overly complex.

The `/deposit` and `/withdraw` success responses should include the ID of the transaction created as

[2021-02-04 19:25] #775 closed

[2021-02-04 21:14] JakeUrban opened #862 "SEP-24: Users should indicate when interactive flow window should be closed"
SEP-24 currently instructs wallets to close the interactive popup when the anchor makes a callback request. However, the anchor is completely capable of closing their own popup, or instructing the user to do so manually.

If anchors close their own popups when the user has indicated to do so, wallets can stop listening for callback requests, simplifying their implementation.

[2021-02-05 19:27] jonjove commented on #776
Resolved by https://github.com/stellar/stellar-core/pull/2903

[2021-02-05 19:27] #776 closed

[2021-02-05 19:40] JakeUrban opened #864 "SEP-24: Add no-information-needed response to deposit or remove it from withdraw"
SEP-24 offers a no additional information needed response for `POST /transactions/withdraw/interactive`, but does not offer a similar endpoint for `POST /transactions/deposit/interactive`.

It is not clear why this is the case. Anchors could conceivably not need any additional information for a deposit in the same way it is possible for withdraw, that is: the user has been KYC previously in connec

[2021-02-05 19:40] JakeUrban commented on #864
@leighmcculloch @tomerweller I'm curious what your thoughts are on this

[2021-02-05 19:56] leighmcculloch commented on #864
If we can get some confidence on no support in practice, I'd mark it as deprecated. I'd also be okay with removing if our confidence is high.

[2021-02-05 20:49] #862 closed

[2021-02-10 19:20] JakeUrban commented on #832
I don't see a reason to allow the sub-fields format. We should clarify that all field names specified via SEP-9 are strings.

Reasons:
1. They are presented in SEP-9 as simple strings
2. It makes the structure used in all content types consistent. `multipart/form-data` and `application/x-www-url-formencoded` do not support nested structures

@leighmcculloch does this sound alright to you?

[2021-02-10 20:36] leighmcculloch commented on #832
This sounds like the simplest approach, but I think we need to understand how others have interpreted the specification because even internally there are folks who assumed it was hierarchical. Understanding this will help us determine if making a change is a breaking change or a clarification.

[2021-02-10 21:13] JakeUrban commented on #832
I agree that would be ideal, but we don't have a good mechanism for understanding how this has been interpreted in the wild.

If we assume both approaches are used, how would that change what we do? Would we standardize the use of both methods? Applications accepting one type would then have to add support for the other. I don't see why thats a better outcome than picking a single method. Either w

[2021-02-10 22:01] leighmcculloch commented on #832
Knowing what we know so far I think we should support the method you mentioned, and only that method, but without understanding how others have implemented this we don't know what the impact will be. I defer to you and @tomerweller for if we know all we can know at this point.

The main reason I think this approach is best is because you pointed out that Polaris uses that approach.

I think the ch

[2021-02-11 22:02] #780 closed

[2021-02-17 16:58] #796 closed

[2021-02-19 18:18] tomerweller commented on #812
Not stale

[2021-02-22 14:44] jonjove commented on #843
@sisuresh is this totally done?

[2021-02-22 17:09] sisuresh commented on #843
Yeah this was the PR - https://github.com/stellar/stellar-protocol/pull/865.

[2021-02-22 17:38] jonjove commented on #843
Lines 38-39 in the proposal seems like they're missing some important details. Line 38: what about `AUTHORIZED_TO_MAINTAIN_LIABILITIES_FLAG`? Line 39: this should be restricted to revocation, right?

There also seem to be some missing sections from the template:
- I see that you didn't add any design rationale (perhaps you felt there was nothing to explain?)
- The security concerns section is also

[2021-02-22 18:16] #724 closed

[2021-02-22 18:16] #698 closed

[2021-02-22 18:16] #680 closed

[2021-02-22 18:16] #644 closed

[2021-02-22 18:16] #633 closed

[2021-02-22 18:16] #618 closed

[2021-02-22 18:16] #630 closed

[2021-02-22 18:16] #615 closed

[2021-02-22 18:16] #573 closed

[2021-02-22 18:16] #562 closed

[2021-02-22 18:16] #539 closed

[2021-02-22 18:16] #535 closed

[2021-02-22 18:16] #518 closed

[2021-02-22 18:16] #519 closed

[2021-02-22 18:16] #493 closed

[2021-02-22 18:16] #491 closed

[2021-02-22 18:16] #484 closed

[2021-02-22 18:16] #486 closed

[2021-02-22 18:16] #483 closed

[2021-02-22 18:16] #464 closed

[2021-02-22 18:16] #481 closed

[2021-02-22 18:16] #461 closed

[2021-02-22 18:16] #451 closed

[2021-02-22 18:16] #446 closed

[2021-02-22 18:16] #450 closed

[2021-02-22 18:16] #434 closed

[2021-02-22 18:16] #430 closed

[2021-02-22 18:16] #422 closed

[2021-02-22 18:16] #408 closed

[2021-02-22 18:16] #398 closed

[2021-02-22 18:17] #397 closed

[2021-02-22 18:17] #368 closed

[2021-02-22 18:17] #364 closed

[2021-02-22 18:17] #295 closed

[2021-02-22 18:17] #349 closed

[2021-02-22 18:17] #294 closed

[2021-02-22 18:17] #291 closed

[2021-02-22 19:12] sisuresh commented on #843
I opened a PR (#871) addressing the missing details. I initially didn't include the design rationale since the motivation section was clear, and the actual design change is very simple. The point you brought up about `SetTrustLineFlagsOp` is a good one though, so I added that to the design rationale section.

[2021-02-22 19:29] #843 closed

[2021-02-23 00:00] ire-and-curses commented on #695
Testing removal of `stale` label.

[2021-02-23 19:06] JakeUrban commented on #731
SEP-31 anchors should be able to support different KYC requirements now that SEP-31 supports having multiple customer `type` values.

If the anchor needs to collect different banking information depending on the country and SEP-12's `bank_*` attributes are not sufficient, the anchor can list the various fields needed in `/info`'s `fields.transaction` object and include an `description` outlining t

[2021-02-23 19:06] #731 closed

[2021-02-23 21:00] #832 closed

[2021-02-26 18:16] #157 closed

[2021-03-03 11:54] KuknosCoreTeam opened #877 "Add a built-in and automatic “Trust Limit” control for issuers"
As said in issue #85, some financial institutions need to set the maximum amount of asset that can be owned by a holder. Although asset issuers can enforce this kind of limitation by manually checking “Trust Limit” value requested in the “Change Trust” operation (using authorization and “Allow Trust” operation);  We propose using an automated and built-in solution, which could help issuers to prev

[2021-03-03 13:39] tlack29 commented on #877
can i get my assets

[2021-03-03 17:56] #793 closed

[2021-03-06 18:12] jbash commented on #853
Auto-closing issues isn't very confidence-inspiring for a financial application...

[2021-03-06 18:16] #119 closed

[2021-03-08 20:19] marcinx commented on #832
We work without SEP-12 at the moment, using other KYC channels with anchors for now. One thing that would be good to have is the ability to add arbitrary numbers of beneficial owners, company directors, and binaries (to transfer docs). It doesn't really matter to us what format we do this in but I guess nested JSON that allows lists would be ideal?

Personally I prefer this option:

[code]

instea

[2021-03-08 20:30] JakeUrban commented on #832
@marcinx We opted to use the flat field notation ([PR](https://github.com/stellar/stellar-protocol/pull/867))
[code]
I outlined the reasons for doing so in [this comment](https://github.com/stellar/stellar-protocol/issues/832#issuecomment-776954447)

[2021-03-08 20:33] marcinx commented on #832
Okay, fair enough. It might be hard to iterate through lists with that format though. And lists or arbitrary lengths are probably required by most KYC/AML collectors/transmitters. Maybe food for thought for the future?

[2021-03-09 00:26] #861 closed

[2021-03-13 18:17] #113 closed

[2021-03-16 19:49] leighmcculloch opened #893 "meta: diff checker for CAPs"
I think we could benefit from a small scoped investment in a diff checker on CAPs.

On two or three occasions diffs have been committed that are corrupt. This is usually discovered by someone consuming the diff, and not by the person publishing the diff. Diffs are fiddly and it's easy for copy paste errors to occur, or stray characters, or missing new lines at the end to result in a corrupt diff.

[2021-03-18 18:18] #822 closed

[2021-03-19 18:19] #111 closed

[2021-03-22 20:37] #685 closed

[2021-03-23 21:45] ire-and-curses commented on #617
Go SDK support is being tracked here: https://github.com/stellar/go/issues/3490

[2021-03-26 18:13] #748 closed

[2021-03-26 18:13] #99 closed

[2021-03-26 18:13] #96 closed

[2021-03-26 18:13] #329 closed

[2021-03-26 18:13] #32 closed

[2021-03-28 18:13] #621 closed

[2021-03-29 18:12] #88 closed

[2021-04-06 17:04] JakeUrban opened #901 "Anchor Quote API"
We've recently seen an increased demand for a standardized API specification to facilitate off-chain liquidity in Anchor flows. We'd love to hear your thoughts about this.

Currently, our deposit/withdraw (sep6/24) and cross-border payments (sep31) standards assume that off-chain assets being deposited/withdrawn are the same as those pegged on-chain. For example, when you withdraw BRLT (by nTokens

[2021-04-06 19:57] tlack29 commented on #877
How i do that

On Tue, Apr 6, 2021, 11:15 AM github-actions[bot] ***@***.***>
wrote:

[2021-04-07 11:55] erasmus commented on #901
Great initiative! We'd love to get involved with this SEP. I think developing USDC (or some other high-trust asset) as bridge asset makes a lot of sense, especially considering the widespread use of USD as settlement currency in international trade.

Some initial thoughts:

1. Perhaps there's some insights gained in looking at [0x's RFQ API specs](https://0x.org/docs/guides/rfqt-in-the-0x-api)?
2.

[2021-04-08 22:56] JakeUrban opened #903 "SEP-1: Add ORG_SUPPORT_EMAIL to TOML file"
`ORG_OFFICIAL_EMAIL` is usually not a support email, so wallets usually asks the anchor directly for a support email and stores it on their service's backend. This is not idea because the anchor has to reach out to the wallet to change it, and some wallet services are frontend-only.

This is why an additional email field, `ORG_SUPPORT_EMAIL` would be helpful for anchors and clients.

[2021-04-09 18:56] JakeUrban commented on #901
@erasmus thanks for the thoughts. I think having an indicative `/price` endpoint and firm `/quote` endpoint makes in the style of 0x makes a lot of sense, they serve different use cases.

Maybe this is what you meant, but expiration time needs to be specified by the quote provider, since they're the entity taking on the risk, and the client will need to deliver funds before the provided expiration

[2021-04-12 22:21] leighmcculloch commented on #903
Makes sense to me. This begs the question, what is the official email for or what do we hope it will be used for?

[2021-04-13 19:37] JakeUrban commented on #903
An email for business inquiries makes the most sense to me, as does the partner who requested this change.

[2021-04-14 12:54] erasmus commented on #901
I was thinking that the quote requester should be able to specify a desired expiration and get a quote from provider based on that time horizon. As a requester I may want to pay more for a longer expiry time.

[2021-04-15 06:25] Samrose-Ahmed opened #909 "Feature Request: SEP-31: Allow receiving anchor to initiate payment (allow anchors to send and receive)."
### What problem does your feature solve?
As per my reading of SEP-31, anchors can only specify what assets they support _receiving_. The flow then consists of the sending anchor initiating the payment and fulfilling the SEP by interacting with the receiving anchor. However, this assumes that the user will be always be sending through the sending anchor. This isn't necessarily true, e.g. taking th

[2021-04-16 18:19] leighmcculloch commented on #893
@MonsieurNicolas Are you open to receiving a PR to this repository that adds something minimal that does this ☝🏻?

[2021-04-19 17:13] JakeUrban commented on #901
@erasmus The PR is ready to be merged, do you have any remaining comments / concerns?

[2021-04-19 18:46] #901 closed

[2021-04-20 00:21] MonsieurNicolas commented on #893
yeah sounds good if it's not too much trouble!

re: what do we diff against, I'd say to just use git tag names, like `v16.0.0` that is release 16.0.0 as humans can at a glance tell what the reference version is.

Meta data can just be inside the quoted block to avoid interaction with markdown, maybe something like (the patch is copy/pasted as is between the begin/end lines):

[code]

[2021-04-20 20:58] #903 closed

[2021-04-21 04:49] leighmcculloch commented on #893
I think we should avoid modifying the contents of the code block, because that prevents us from using the `diff` GitHub markdown modifier to color code the diff. I think we should find somewhere else to put the version it is based on.

We could put it immediately prior to the block in some consistent format to keep it close to the diff.

The reason I suggested adding it to the metadata is because

[2021-04-25 09:34] ymatienzo opened #915 "SEP-0009: Add sex field"
### What problem does your feature solve?

Sometimes anchors need to collect user gender information as part of their KYC requirements.

### What would you like to see?

1. Add gender as an additional field for the individual
2. Gender could have the following values [male, female, undefined]

### What alternatives are there?

[2021-04-25 18:13] #695 closed

[2021-04-26 16:32] JakeUrban opened #916 "SEP-31: Integrate SEP-38 RFQ Quotes"
Now that we have a standard for providing clients quotes between on and off chain assets, we should integrate this functionality into SEP-31.

The basic idea is that the sending anchor would send an on-chain asset A and the receiving anchor would deliver an off-chain asset B at a rate the receiving anchor provided the sending anchor in a previous request.

[2021-04-26 16:36] JakeUrban opened #917 "SEP-6: Integrate SEP-38"
Now that we have a standard for providing clients quotes between on and off chain assets, we should integrate this functionality into SEP-6.

For withdrawals, the user will provide the anchor with an on-chain asset A and receive a different off-chain asset B. For deposits, the reverse will occur. This will be made possible by the client fetching a quote and referencing the quote ID in the SEP-6 de

[2021-04-26 18:30] leighmcculloch commented on #915
Thanks for opening this issue @ymatienzo. Could you provide some examples of the jurisdiction (e.g. country) where gender is required for KYC and how it influences KYC?

A quick internet search turned up this [this document](https://www.pwc.com/gx/en/financial-services/publications/assets/pwc-anti-money-laundering-2016.pdf) dated 2016 that indicates it is a KYC requirement in these countries:
- So

[2021-04-26 21:06] JakeUrban commented on #915
Sounds like a reasonable addition to the standard, thanks for filing @ymatienzo.

[2021-04-26 21:07] #812 closed

[2021-05-06 18:24] #853 closed

[2021-05-15 10:36] Scobiform opened #943 "Error in virtual host NGINX for history"
The try_files $uri; seems to be not right.

**invalid number of arguments in "try_files" directive**
[code]

fixed this with a workaround

[code]

[2021-05-25 16:50] leighmcculloch commented on #893
I created mddiffcheck, a tool that will do this: https://github.com/stellar/mddiffcheck. There's a draft PR adding a GitHub Action for it in #950.

[2021-05-26 15:32] Zagan202 opened #951 "SEP-008: Replace AllowTrust ops with SetTrustline ops"
### What
Change the [Transaction Composition](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0008.md#transaction-composition) example to use SetTrustline ops.

From

To

### Why?

This AllowTrust is deprecated as of Protocol 17 and as such the SDF prefers to use SetTrustLineFlags instead.
To stay up to date we should replace these AllowTrust operations to not mislead those i

[2021-05-26 18:43] leighmcculloch opened #953 "meta: add check that requires documents are eol=lf when committed, and UTF-8"
### What
Add a GitHub action check that requires documents committed are eol=lf, and not crlf, and that they are UTF-8.

### Why
It is inconvenient and not obvious when someone commits a CAP with CRLF line endings. It's inconvenient when multiple people are working on a CAP. An example of this is CAP-35. I noticed it's line endings when working on it a couple months ago, and it made diffs confusin

[2021-05-27 16:21] JakeUrban commented on #733
Hi @LeviticusMB, I just noticed that there is another issue on the same subject so I'm going to close this issue. Discussion about adding `type` values to the SEP-24 `/info` endpoint can continue on #614

[2021-05-27 16:21] #733 closed

[2021-05-27 21:00] JakeUrban opened #958 "SEP-6 & 24: Allow 'account' deposit & withdraw parameters different than authenticated account"
We're seeing ecosystem demand for the ability to authenticate a Stellar account via SEP-10 while specifying a different Stellar  account in `/deposit` & `/withdraw` requests.

The idea is that the account authenticated via SEP-10 (the 'authenticated account') should be associated with the KYC data collected, while the account sent in `/deposit` and `/withdraw` requests (the 'account parameter') is

[2021-05-28 22:02] #953 closed

[2021-05-28 22:04] #893 closed

[2021-06-01 17:46] leighmcculloch commented on #958
How does the anchor have any confidence over who they're sending money to or receiving money from if the accounts they send to or receive from have not been authenticated? This seems to me like it would make it trivial for a person KYC'd to help an anchor send funds to someone the anchor has not KYC'd.

[2021-06-01 18:11] JakeUrban commented on #958
I agree @leighmcculloch, my thought was that the anchor could also require KYC for the second account too, but in the use case that started inspired this issue, this account cannot sign SEP-10 challenge transactions. Without the ability to sign challenge transactions, the anchor would need to collect KYC outside an interoperability standard, so I'm not thrilled with this idea.

[2021-06-01 18:19] leighmcculloch commented on #958
Ah gotcha, so the authenticated account would provide information for the third party account, and the anchor trusts that what the authenticated account has to say about the third party account is legit? If that's sufficient then I think it sounds okay.

I think we need some input on the non-technical aspects of this.

[2021-06-09 00:14] shanzzam commented on #917
Removing the stale label and putting this in Product Eng team backlog for planning

[2021-06-12 18:04] #877 closed

[2021-06-15 18:05] #909 closed

[2021-06-22 17:38] JakeUrban opened #981 "SEP-12: Clarify `fields` and `field.status` ambiguity"
related to stellar/stellar-demo-wallet#189

This issue is for discussion what steps to take in order to clarify the issues mentioned below.

The changes made for the [property verification](https://github.com/stellar/stellar-protocol/commit/2d46fe87fa9aa512610078eda51dc52573ed754b) functionality introduces some variability in the `GET /customer` response, specifically related to the presence of th

[2021-06-22 18:32] leighmcculloch commented on #981
Interesting. We made a breaking change, is that a bug? If so we can probably change fix that bug with a patch change. Do we know if anyone is dependent on that buggy logic?

I don't feel strongly for how we resolve the fields presence though. I can see arguments for both approaches. It could be confusing if someone can't see the final status for a field when the status changes to needs info to som

[2021-06-22 20:55] #915 closed

[2021-06-22 22:00] JakeUrban commented on #981
The change was made 2 months ago, and I'm not aware of any service who has implemented SEP-12 in that timeframe but its possible someone has.

The only way I can think of that ensures existing SEP-12 clients consume the response properly is by maintaining the rule that `fields` in a `NEEDS_INFO` response can only be for fields the anchor has not yet received. But this is directly at odds with what

[2021-06-23 19:17] leighmcculloch commented on #981
🤔 We could create a new `fields` that contains the new behavior and keep the old `fields` as is. Wdyt?

[2021-06-23 21:32] JakeUrban commented on #981
I think thats the best we can do. We can use the original `fields` as an object containing the fields not yet provided, and a `providedFields`/`collectedFields` object that contains fields that the anchor has on their end already. This new object should be the one with field `status` attributes, since `status: NOT_PROVIDED` is redundant for fields in the original object.

[2021-06-23 21:40] leighmcculloch commented on #981
I was struggling to find a concept that could differentiate the two, but I really like the distinction you propose. `providedFields` sounds good to me.

[2021-06-28 18:42] #981 closed

[2021-07-06 18:22] leighmcculloch commented on #80
As there hasn't been a draft submitted and 1 year has passed since the last comment I am closing the issue. Please reopen the issue if anyone wishes to pursue this.

[2021-07-06 18:22] #80 closed

[2021-07-15 18:03] #943 closed

[2021-07-24 18:04] #617 closed

[2021-07-24 20:35] JFWooten4 opened #1015 "CAP-42: Stock Split Operations"
### What problem does your feature solve?
Stellar is very clearly intended for stock representation, but doesn't yet have a split operations which are functional **_requirements_** for securities registrars.

### What would you like to see?
Two transaction operations for forward and reverse splits, both of which take one split_ratio parameter such as 0.55925 : `num=55925, denom = 100000`. An issue

[2021-07-24 21:18] JFWooten4 commented on #1015
This may be better placed in Stellar core. If so, I'm happy to move it

[2021-07-25 18:08] #951 closed

[2021-07-27 18:03] #716 closed

[2021-08-05 20:45] JakeUrban opened #1030 "SEP-6 & 24: Add `account_creation_supported` flag to `/info` endpoints"
### What problem does your feature solve?

SEP-6 and 24 currently suggest that the anchor should fund nonexistent accounts requesting deposits, but this is a business decision the anchor must have the ability to enable or not.

### What would you like to see?

An `account_creation_supported` flag or similar added to the anchor's `GET /info` endpoint response. Wallet applications would be able to d

[2021-08-09 18:57] #916 closed

[2021-08-09 19:05] #917 closed

[2021-08-13 23:08] JakeUrban opened #1039 "SEP 6, 24, & 31: Allow source and destination account of funds to differ from the SEP-10 client account"
SEP-10 enables clients (or users) to use the same credentials to authenticate with any number of independent services. Put simply, SEP-10 is the 'Login with Google' of the Stellar ecosystem. The difference is that instead of your Google username and password to login, you use a transaction containing your Stellar account signed by your secret key.

However, SEP-10 does not directly contribute to t

[2021-08-13 23:10] JakeUrban commented on #958
closing as a duplicate of #958

[2021-08-13 23:10] #958 closed

[2021-08-13 23:10] JakeUrban commented on #1039
cc @leighmcculloch @tomerweller

[2021-08-16 18:49] leighmcculloch commented on #1039
I think there could be cases where this matters. It's common for money transfer services to want to know who exactly is sending and receiving and disallow sending/receiving to someone who isn't themselves. For example, I think Wise requires this. If a deposit/withdrawal occurs with the SEP-10 authenticated account the service knows that it is the individual authenticated that will be sending or re

[2021-08-16 20:35] JakeUrban commented on #1039
I had the same thoughts, but I think there are a few counterpoints.

First, a user can send funds to another account once their funds have been on-ramped by the anchor. And in the withdrawal case, someone else with a Stellar account can send funds to the user withdrawing and authenticating via SEP-10. So the same flow can be accomplished even with the anchor's account restrictions.

And secondly,

[2021-08-16 21:35] leighmcculloch commented on #1039
The same flow can be accomplished with traditional finance money services too. I don't know if this is a problem, I'm highlighting that there could be and I'd be interested to know if the regulations any anchors need to follow will require some sort of confidence level auth provides, or if simply declaring "its my account" via a checkbox might be enough. I don't want to block this if you know this

[2021-08-16 21:38] JakeUrban commented on #1039
MyWallet's own infrastructure.

[2021-08-17 15:56] #1039 closed

[2021-08-18 19:16] #1030 closed

[2021-08-23 18:51] leighmcculloch opened #1046 "Meta: SEP Versioning"
Over the last couple years a few folks have pointed out that SEP versioning needs some work.

Unlike CAPs, SEPs are not a point-in-time proposal. SEPs are protocols and specifications that are improved over time. This means that changes are made to them over long periods of time, sometimes bug fixes, sometimes improvements or new features, and sometimes breaking changes where necessary.

All SEPs

[2021-08-23 19:52] yuriescl commented on #1046
Thanks for creating this discussion. Indeed it's difficult to manage so many changes in SEPs while keeping Anchor and Wallet software compatible across time.
We need some kind of version and dependency system to allow SDKs, Anchors and Wallets to smoothly adapt to SEP changes.
About the versioning, I got some ideas:
- Turn each SEP into a directory to allow version subdirectories:
  `stellar-proto

[2021-08-23 21:03] leighmcculloch commented on #1046
I suggested a similar idea a little while ago and one of the pieces of feedback I received was that by moving each new version into a new file we lose the simple ability to view diffs between versions on GitHub. We have the files in Git and I think we should try and leverage them best we can. If we do the changelog idea maybe there's someway we can link in the changelog to each version of the SEP.

[2021-08-24 23:25] yuriescl commented on #1046
I think it's better to have it than not have it (dependencies section). The maintenance would be required, but it's only updated once (ideally) on every version change. It would save time from Anchors and Wallets trying to figure out the incompatibilities themselves.

Another idea is for Anchors to list which SEP versions they support, maybe in the `stellar.toml`, or in a special endpoint, or in `

[2021-09-01 09:39] danielissac opened #1047 "Feature Request: Stellar address validation"
Need a way to validate whether a XLM address is valid (no typo)
**Solution :**
An API end point that returns true if its valid, false if its invalid.

Is there already an REST API end point available to validate address?

[2021-09-01 09:48] Kanaye commented on #1047
Well what is a "valid" address for you ?
If it just means: the public key is valid: Use the sdk of your choice, most of them will have a way to verify the validity of publickeys.
e.g. for the js-sdk: https://stellar.github.io/js-stellar-base/StrKey.html#.isValidEd25519PublicKey

If you want to know wheter an account also exists: just query horizon for an account with the ID. If it exists ... well

[2021-09-01 15:01] marcelosalloum commented on #1046
I really like having a changelog and a link to previous versions! A non-breaking approach to preserve the file structure is linking to the commit where the previous version was updated, something like:

### Versions
* v2.0.0 (a link to the commit introducing version 2.0.0) – <brief description>
* v1.6.2 (a link to the commit introducing version 1.6.2) – <brief description>

---

Having a detailed

[2021-09-09 21:38] #727 closed

[2021-09-10 14:51] JFWooten4 commented on #1015
link to #1016

[2021-09-10 14:52] JFWooten4 opened #1051 "PR #1016 active"
This pull request is stale because it has been open for 30 days with no activity. It will be closed in 30 days unless the stale label is removed.

_Originally posted by @github-actions[bot] in https://github.com/stellar/stellar-protocol/issues/1016#issuecomment-908568174_

Remove. Sorting through XDR

[2021-09-10 14:54] JFWooten4 commented on #1051
Assistance encouraged :)

[2021-09-17 17:22] JakeUrban opened #1056 "SDK Issue Tracking: SEP-10 muxed account and memo support"
A meta issue for tracking implementations of SEP-10 muxed account and memo support

[2021-09-17 17:26] JakeUrban opened #1057 "SDK Issue Tracking: grace period for SEP-10 challenge minimum timebound"
A meta issue for tracking SDK implementations for applying a grace period to SEP-10 challenges minimum time bound

[2021-10-01 04:06] JakeUrban opened #1061 "SEP-6: fees for transactions using SEP-38 quotes"
## Problem Description

SEP-6's `GET /fee` endpoint states the following:

However, SEP-6's `GET /transaction(s)` endpoints include the `amount_fee` and optional `amount_fee_asset` attributes, implying that fixed fees can in fact be charged in addition to any margin included in the exchange rate between the assets used in the transaction.

## Possible Solutions

There are two ways we can resolve t

[2021-10-01 19:11] leighmcculloch commented on #1061
Will Solution 2 Option 2, removing the endpoint, mean the client needs to first create the deposit/withdrawal to see the fees?

We probably still need some way to still communicate the fees earlier so that the user knows what the fees could be before they signup with an anchor. It could be as simple as raw text field that a wallet can choose to display or not. Max flex with min tech debt. Wdyt?

I

[2021-10-01 20:15] JakeUrban commented on #1061
Yes. Fees calculations cannot happen until the anchor has all the information necessary.

I'm for it. We can add it to the `fee` object in the `GET /info` response as "description".

[2021-10-01 20:25] JakeUrban commented on #1061
cc @tomerweller

[2021-10-03 18:40] JFWooten4 commented on #1015
Funding proof: https://stellar.expert/explorer/public/account/GDRM3MK6KMHSYIT4E2AG2S2LWTDBJNYXE4H72C7YTTRWOWX5ZBECFWO7
Success === implementation approval by Stellar Core Dev team

[2021-10-05 18:04] #743 closed

[2021-10-08 18:19] #1061 closed

[2021-10-15 11:32] minherc opened #1069 "PathPaymantStrictResive opertion ddos,hack issue"
### What version are you using?
latest

### What did you do?
Send and recive PathPaymantStrictResive to self.

### Preamble.

Recently, I noticed that someone else is trading in my coin, although it has a flag, authorization confirmation, and besides my accounts, no one received such authorization. (as I noticed, I wrote a script that tracked the number of all coins on all accounts. And the number

[2021-10-15 14:07] #1069 closed, assigned to nobody

[2021-10-18 16:57] yuriescl opened #1071 "SEP-6 extra_info"
SEP-6 successful [deposit ](https://github.com/stellar/stellar-protocol/blob/master/ecosystem/sep-0006.md#1-success-no-additional-information-needed) response include an `extra_info` field. This field is specified as being an object, but it has a single field inside, which is `message`.
Since SEP-6 is non-interactive and Wallets might wanna use it in an automated way, maybe the SEP should add flex

[2021-10-19 18:13] ymatienzo opened #1073 "Feature Request: Rename SEP24 and SEP6 info endpoint feature object to either 'feature' or 'feature_flags'"
### What problem does your feature solve?

SEP24 docs info endpoint specification contains a ** feature_flags** object as part of the response
SEP6 docs info endpoint specification contains a **_features_** object as part of the response

Even though the specification of SEP24 mentions  **_feature_flags_** django polaris  sep24 info returns a **_features_** object as displayed in the image below

[2021-10-20 20:03] ymatienzo opened #1074 "SEP-9: Adding organization registration date"
### What problem does your feature solve?

The registration date of a business is a field that is always asked during onboarding. This field is currently missing in the organization KYC fields.

### What would you like to see?
Adding  **organization.registration_date**  as part of the Organization KYC list of fields

[2021-10-22 18:26] #1073 closed, assigned to nobody

[2021-10-31 18:04] #1047 closed

[2021-11-03 20:55] JakeUrban commented on #1071
Hi @yuriescl, I think this is a good idea. If we do this, I think it also makes sense to add a similar object to the `GET /transactions` response body, so the `extra_info` returned in a deposit or withdrawal response can be found without recreating a transaction.

@leighmcculloch curious on your thoughts here.

[2021-11-03 21:24] JakeUrban opened #1083 "SEP-24 & 6: Add `pending_user_transfer_complete` transaction status"
### What problem does your feature solve?

Neither SEP-6 or SEP-24 have a status that indicates the user must take action in order to complete the transaction, the most common use case being a user who needs to pick up cash from a retail location.

`pending_user` exists but may be too broad, since it is a catch all for any pending-user-action state, and could conceivably  be used multiple times in

[2021-11-03 22:02] leighmcculloch commented on #1083
What's the next state after the new status? Does complete mean that it is ready for something? Maybe we need a new status that indicates what it is ready for?

[2021-11-03 22:04] leighmcculloch commented on #1071
I like the idea. I'm wondering if before we go the custom field route, is there value in defining some common fields so that anchors implementing similar integrations use the same keys for the fields. What do you think?

[2021-11-03 23:23] JakeUrban commented on #1083
The idea is that it would go from `pending_user_transfer_complete` to `completed`, where `completed` means settlement has occurred and there is no action needed from either party.

[2021-11-03 23:30] JakeUrban commented on #1071
I think that makes sense. There are some SEP-9 fields that would probably fit here too:
- bank_account_number
- bank_number
- bank_branch_number

But there are others not in SEP-9 that could be relevant to many anchors:
- bank_memo/note
- bank_name
- address (for dropping off cash at a retail location)

Generally, we can try to think of standardized field names for pieces of information that would

[2021-11-03 23:45] leighmcculloch commented on #1083
I'm skeptical of `pending_user_transfer_complete` because it is speaking about what has happened, but not what the current state of things is. This makes it not particularly clear about what comes next.

It sounds like we are missing some statuses to indicate whatcomes next, such as the settlement being ready or in process.

For example, for the cash scenario described I'm imagining:
- `pending_us

[2021-11-04 00:42] JakeUrban commented on #1083
`pending_user_transfer_complete` is supposed to mean that the cash can be picked up. The transfer is pending the user complete it, in the same way that `pending_user_transfer_start` is pending the user start the transfer.

The idea is for a withdrawal transaction, the status go:
- `incomplete` - the anchor still needs more info before the user can send funds, like KYC info
- `pending_user_transfer

[2021-11-05 19:28] JakeUrban opened #1086 "SEP-38: Allow unauthenticated requests to non-`/quote` endpoints"
### What problem does your feature solve?

Anchors may want to allow unauthenticated clients to make requests to the `GET /prices` and `GET /price` endpoints.

For example, client applications may want to show rates from multiple liquidity providers to a user, or simply display the exchange rates of an anchor's pairs before the user has indicated they want to start a transaction.

### What would y

[2021-11-05 19:28] JakeUrban commented on #1086
@leighmcculloch, can you think of any reason why we shouldn't relax the authentication requirements for these endpoints?

[2021-11-05 19:29] JakeUrban commented on #1086
We can add flags to the `GET /info` response indicating if `GET /price` and `GET /prices` require authentication, just like SEP-6 does.

[2021-11-06 02:49] leighmcculloch commented on #1086
🤔 That's a good point.

If I recall correctly we made the end points authenticated so that an anchor can provide rates unique to that user, but I can't think of a reason to not make the authentication optional with the obvious restriction that rates specific to that user can't be offered when the user isn't authentication.

[2021-11-08 19:40] leighmcculloch commented on #1083
This flow is a little counterintuitive, because `pending_anchor` in name doesn't appear to have anything to do with `user_transfer`, it looks as if the user_transfer portion is already complete, so to have it then complete after pending_anchor is confusing.

I would at least change the description of the `pending_user_transact_complete` a little to focus on the user transfer since it is named for

[2021-11-08 22:41] #864 closed

[2021-11-09 18:04] #1051 closed

[2021-11-19 20:45] JakeUrban opened #1089 "Checkout with Stellar"
### What problem does your feature solve?

Businesses cannot offer their goods and services to customers that don't have a cheap and easy way of paying for those goods and services. Anchors who can accept payments using methods popular in their region are well positioned to accept payments on behalf of the businesses that cannot accept payments using those methods.

### What would you like to see?

[2021-11-19 20:46] JakeUrban commented on #1089
@leighmcculloch, @tomerweller, @accordeiro, thoughts?

[2021-11-19 21:03] leighmcculloch commented on #1089
💯

I think this is a very interesting idea, and this is definitely a compelling story for accepting payments with Stellar focusing on the needs of customers and merchants to accept native local payments rather than accept a cryptocurrency. I like that it leverages the anchor network and issued assets too.

For the simplest use case, digital products, it should be relatively simple to leverage thes

[2021-11-23 14:40] ymatienzo commented on #1074
Hi, sorry for the late reply on this. I thought that this was the way to open the PR. Could you hint me where to do it?

[2021-11-26 15:02] TravisG82 opened #1091 "SEP-12: Delete does not recommend to adhere to data retention policy of the regulators of the applicable jurisdiction"
the Current SEP-12 Recommends that once the Anchor  gets the delete request, it should go ahead and delete the customer information. However local regulations require that once must retain customer records for certain duration . To quote a few,  BAFIN in Germany and BSA in US and FINTRAC in Canada requires for AML reasons to log  records for minimum period of 5  years and not adhering to it could

[2021-11-27 20:06] MehdiAliakbar32 opened #1092 "Feature Request:"
### What problem does your feature solve?

### What would you like to see?

### What alternatives are there?

[2021-11-29 17:19] leighmcculloch commented on #1091
@JakeUrban Do you have thoughts and insights on how this plays out in existing implementations?

My assumption is that deletion from the API would disable the capability to use that data any longer, but an implementation could still retain the information for as long as they were required by their jurisdiction.

[2021-11-29 19:58] leighmcculloch commented on #1074
Hi @ymatienzo, you can open a pull request (PR) by forking the repository, editing SEP-9, and opening a PR. If you already did that, could you share a link to it here so that I can link it to this issue and review and get it merged?

[2021-11-29 22:55] JakeUrban commented on #1091
@leighmcculloch I'll bet that businesses are retaining user information to comply with regulations despite what our specification states. We should update the language to match what businesses may be legally obligated to do.

[2021-11-30 09:03] TravisG82 commented on #1091
@JakeUrban , @leighmcculloch  .. thank you for looking into this.

I would also agree that businesses who are already in this field with Fiat currencies should have been doing it however can never be 100% sure that they do it unless they confirm. However as a guideline it makes sense to provide them our recommendation to comply with local regulatory policy.

To add further, i would propose  as a f

[2021-11-30 17:47] JakeUrban commented on #1091
We can add an optional `message` field to the response for this.

[2021-12-01 07:48] TravisG82 commented on #1091
Shall then i go ahead and raise a PR ?

[2021-12-01 20:27] leighmcculloch commented on #1091
I think we can probably forego the comment in the response, as such information may be complex and difficult to provide succinctly. The system responding to the request may also not have the information at hand to provide it. There's a good chance information about how long information is held will be part of the terms of service of the anchor.

However, I think we could add some discussion about

[2021-12-01 20:27] leighmcculloch commented on #1091
Please feel welcome to open a PR!

[2021-12-02 12:04] Dqddyvillager1722 opened #1101 "dqddyvillager@gmail.com"
### What problem does your feature solve?

### What would you like to see?

### What alternatives are there?

[2021-12-02 12:04] Dqddyvillager1722 commented on #1101
dqddyvillager@gmail.com

[2021-12-04 18:04] #1015 closed

[2021-12-08 21:32] accordeiro commented on #1089
I love this! Agree with Leigh on needing to narrow down the use case, but generally this sounds like an amazing ecosystem building block.

How hard would it be to adapt SEP-6 for this? And would we have to change anything at all on SEP-24, since it already provides a lot of flexibility?

Ideally we tackle this from first principles (like we did for SEP-31) so we don't make our SEPs even more compl

[2021-12-08 21:35] accordeiro commented on #1089
This could also be accompanied by a reference implementation / "checkout with Stellar" widget that would make it very simple for merchants to adopt. @leighmcculloch and @heynenm I think that would be aligned with what you've discussed in the past, right?

[2021-12-08 23:52] jmar42 commented on #1092
A new AMM or additional feature to current AMM to short assets.  People that are long an asset deposit asset XYZ.  Counter parties that want to short XYZ, deposit 150% of USD in turn for a withdrawl of XYZ asset.  USD is locked in the AMM and liquidity providers make liquidity fee.  When XYZ is returned, the USD is withdrawn to depositor.  This will solve inefficient markets.  The alternatives wou

[2021-12-09 00:01] jmar42 opened #1102 "Atomic AMM Short"
### What problem does your feature solve?
Helps create more efficienct markets.

### What would you like to see?
A new AMM or additional feature to current AMM to short assets. People that are long an asset deposit asset XYZ. Counter parties that want to short XYZ, deposit 150% of USD in turn for a withdrawl of XYZ asset. USD is locked in the AMM and liquidity providers make liquidity fee. When XY

[2021-12-09 18:27] JakeUrban commented on #1083
@lijamie98 this PR was merged right? I'll close this issue and you can reopen if there is still outstanding TODOs.

[2021-12-09 18:27] #1083 closed

[2021-12-09 18:30] lijamie98 commented on #1083
Yes, it is merged. Am I supposed to close it or is it for the issue
reporter to close?

On Thu, Dec 9, 2021 at 10:27 AM Jake Urban ***@***.***> wrote:

[2021-12-09 18:35] JakeUrban commented on #1083
The PR should automatically close related issues when its merged. You can use syntax like

resolves #1083

to link issues from the PR description.

[2021-12-09 19:25] lijamie98 commented on #1083
Thanks for the helpful tip.

On Thu, Dec 9, 2021 at 10:35 AM Jake Urban ***@***.***> wrote:

[2021-12-09 20:40] leighmcculloch commented on #1089
Yes I think so. I'm going to share some thoughts:

Correct me if I'm wrong @JakeUrban, but I believe what you are describing is a way to pay with many different payment methods which is something many payment gateways in traditional payment methods already support. i.e. pay with card, bank, phone credits, etc. If we assume payment gateways are creating useful products for merchants that merchants

[2021-12-10 01:01] heynenm commented on #1089
I think any new payment method lives and dies by merchant adoption, so has to be dead easy for a merchant to adopt.  As such, I think it is critical the merchant gets paid in fiat via the anchor.  Anything short of that would maybe a proof of concept or alpha but not something that would get scale.

[2021-12-10 02:31] leighmcculloch commented on #1089
Would it work to have the payout via an anchor be a periodic event, e.g. once a day? I'm wondering if we can still deliver getting paid via an anchor but as a separate technical component that is essentially automatic recurring withdrawals. This could be packaged with the check out flow, but it's be composable and a separate component and not tightly coupled.

[2021-12-10 13:14] rice2000 commented on #1089
I think a periodic payout would work.  I know that Square, for instance, bundles daily transactions into a single daily payout to merchants.  I believe it's a pretty standard thing to do.

[2021-12-10 18:16] heynenm commented on #1089
Periodic is standard, and I think merchants are quite used to that.  I [understand](https://bam.kalzumeus.com/archive/bank-transfers-as-a-payment-method/) in Brazil those payouts from credit card companies can take as much as 30 days, so daily globally would likely be an improvement for many.

[2021-12-10 20:39] marcinx commented on #1089
Hey.

All of this is essentially what we provide as a service at CQ. Simply put, we implement checkouts by combining SEP-6 anchor integration and path payments into a single payment flow and abstracting all of the complexity away for sellers and buyers. I hope you don't mind me sharing a few thoughts?

In our experience, the primary use case in checkouts is that merchants want to receive amount X

[2021-12-14 00:43] #1101 closed

[2021-12-16 14:20] marcelosalloum commented on #1046
Another way to solve the SEP document versioning and changelogs is to use the Add/Update/Fix/BreakingChanges sections. For SEP-30, the versions section could look like this:

## Versions
### [v0.8.1](https://github.com/stellar/stellar-protocol/blob/d07f14d2c4171261cdc8795c19709ea253135423/ecosystem/sep-0030.md) (#913) – 2021-05-04:
#### Add
* Add a Dependencies section

### [v0.8.0](https://github

[2021-12-21 19:37] #1092 closed

[2022-01-03 19:19] JakeUrban commented on #1046
+1 for a detailed changelog for each SEP. We could use a directory structure like:

[code]

However, SEPs are linked everywhere in our documentation and other documents. Changing the file structure will break those links, which I think should be considered before making this change.

Another non-breaking change would be

[code]

This is definitely not as elegant but we could link the changelog in

[2022-01-04 00:29] #1074 closed

[2022-01-04 00:31] leighmcculloch commented on #1074
@ymatienzo The `organization.registration_date` field has been added. Thanks for suggesting!

[2022-01-04 01:05] leighmcculloch commented on #1046
@marcelosalloum I like the changelog idea. I think we can include the changelog in the SEP itself, probably at the bottom in descending order. The expectation being that any change to the SEP includes a new line item in the changelog describing for that version what is being added, removed, deprecated, etc. Having it inside the document helps contain the SEP and everything about it in a single pla

[2022-01-04 11:38] hot-bit-git opened #1106 "Retire PathPaymentStrictReceive, instead create PathPaymentReceiveMin"
#### What problem does your feature solve?
1. Exchange rate for tiny, stroop size payments will be more fair (closer to market rates)
2. Price spikes in price history and charts will be limited

#### Current status
PathPaymentStrictReceive works on two conditions:
1. Pay: NO MORE THAN
2. Receive: EXACTLY

#### What would you like to see?
Proposed PathPaymentStrictReceive  conditions:
1. Pay: NO MO

[2022-01-04 15:59] jonjove commented on #1106
In your example, why shouldn't the sender use `PathPaymentStrictSend` instead of `PathPaymentStrictReceive`? In that case, they would send exactly 0.0000001 SLT and receive not less than 0.0000040 XLM. How does a sender know which one to use? They can compute both prices and choose the better one.

[2022-01-04 17:33] hot-bit-git commented on #1106
As I have pointed out, receiver receives less than he could, which is not fair.

But it's not only about a better price.

Some parties, for whatever reason, use deliberately PathPaymentStrictReceive to cause massive price faking and huge candles on price charts.
The above solution would prevent fake candles over 100% high, even though some smaller candles would be still possible due to rounding er

[2022-01-04 17:49] jonjove commented on #1106
People are already working to improve the trade aggregations which are used to produce these charts: https://github.com/stellar/go/issues/4160.

I don't follow. With `PathPaymentStrictSend` you would get the 40:1 price that you expect. In what way does the "receiver receive less than he could"?

[2022-01-04 19:34] hot-bit-git commented on #1106
Indeed, `PathPaymentStrictSend` does not cause that problem. But I'm talking about using `PathPaymentStrictReceive` - sending 1 stroop of much more expensive asset with a set 1 stroop of less expensive as a receiving one, you will only receive 1/40 of what you could/should.

As in the image attached in the op, someone has sent 0.0000001 SLT and received only 0.0000001 XLM instead of 0.0000040 or s

[2022-01-05 15:57] jonjove commented on #1106
How would you propose to actually implement this? `PathPaymentStrictSend` works by propagating the "strict send" amount through the hops from source to destination, and `PathPaymentStrictReceive` works by propagating the "strict receive" amount _backwards_ through the hops from destination to source. In this case, we wouldn't have either number so how do you actually perform the calculation? Speci

[2022-01-06 15:52] hot-bit-git commented on #1106
Implementation could be a combination of methods used in `PathPaymentStrictSend` and `PathPaymentStrictReceive` as follows:

Transaction: send max nA receive min mB _(example: market price is 1A = 40B, transaction sets: send max 1A -> min 1B)_.

1. calculate outcome with the method:
`PathPaymentStrictSend`:  sent nA, received iB,
return: price1 =  nA/iB _(example: price1 = 1/40)_
2. calculate outc